// Global overrides go here
@import "{}/imports/ui/components/productCard/productCard.scss";

md-toast {
  position: fixed!important;
  z-index: 99999;
}

.cart-table-card .md-list-item-inner {
  width: 100%;
}

md-list-item.md-whiteframe-1dp {
  background: #fff;
}

.no-padding {
  padding: 0!important;
}

.md-fab-bottom-right-fixed {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}

.img-responsive {
  max-width: 100%;
}

multi-avatar {
  position: relative;
}

.img-round {
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 30;
}

md-input-container.md-icon-float > md-icon {
  top: 8px;
}

.md-button.md-fab.md-fab-bottom-right {
  position: fixed;
}

.greyscale {
  filter: grayscale(100%);
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


[ui-view] {


  &.ng-enter {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    animation: slideInRight 600ms;
  }

  &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    animation: slideOutLeft 600ms;
  }

}
