<div ng-if="checkout.spinner" layout layout-align="center center">
  <md-progress-circular md-mode="indeterminate" md-diameter="50%"></md-progress-circular>
</div>
<p class="text-center" ng-if="checkout.error">{{checkout.error}}</p>
<form id="checkout" method="post" action="/checkout" autocomplete="off">
  <div id="payment-form" ng-show="checkout.total > 0"></div>
  <div layout="row">
    <span flex></span>
    <md-button type="submit" class="md-primary md-raised" ng-show="checkout.total > 0" ng-disabled="checkout.disablePaymentButton">Pay {{checkout.total | currency}} Now</md-button>
    <span flex></span>
  </div>
</form>