<div>
  <h3 class="md-title">Notification Settings</h3>
  <md-checkbox ng-change="notificationSettings.save('newProductEmails')" ng-model="notificationSettings.user.profile.notifications.newProductEmails" aria-label="Switch 1">
    Email me new products from producers I like
  </md-checkbox>

  <md-checkbox
   ng-change="notificationSettings.save('earlyShoppingReminders')"
   ng-model="notificationSettings.user.profile.notifications.earlyShoppingReminders" aria-label="Switch 1">
    Email me product suggestions based on who I like and bought from recently.
  </md-checkbox>
  <div ng-if="$root.hasRole($root.currentUser, 'producer')">
    <h3 class="md-title">Producer Notifications</h3>
    <md-checkbox
     ng-change="notificationSettings.save('soldOutEmails')"
     ng-model="notificationSettings.user.profile.notifications.soldOutEmails" aria-label="Switch 1">
      Email me when one of my products sells out.
    </md-checkbox>
  </div>
</div>
