.repeating-products-card #vertical-container {
  height: 299px;
  width: 100%; }

.repeating-products-card .repeated-item {
  box-sizing: border-box;
  height: 72px;
  margin: 0 10px;
}

.repeating-products-card md-virtual-repeat-container {
  }


/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/