<md-content class="request-body-wrapper new-offer md-whiteframe-1dp" layout ng-class="{focussed: $ctrl.hasFocus}">
  <multi-avatar user="$ctrl.offer.user"></multi-avatar>
  <md-content flex="no-shrink">
    <span class="md-caption" ng-if="$ctrl.hasFocus">
      <span class="md-warn">Draft</span> to {{$ctrl.request.creator.name}} 
      <span ng-if="$ctrl.request.creator.companyName"> of {{$ctrl.request.creator.companyName}}</span>
    </span>
    <form name="newOffer" ng-submit="$ctrl.submit(newOffer.$valid)" layout="column" layout-align="center start">
      <md-input-container flex="100" ng-class="{'notFocus': !$ctrl.hasFocus}">
        <textarea flex="100"
          name="description"
          placeholder="make an offer"
          ng-focus="$ctrl.hasFocus = true" ng-blur="$ctrl.blur($event)"
          ng-model="$ctrl.offer.description" required>
        </textarea>
        <div ng-messages="newOffer.description.$errors" ng-if="false"></div>
      </md-input-container>
      <md-input-container ng-if="$ctrl.request.quantity && $ctrl.hasFocus">
        <input placeholder="quantity of offer"
        ng-model="$ctrl.offer.quantity" ng-max="$ctrl.request.quantity" min="1" 
        ng-required="!!$ctrl.request.quantity">
      </md-input-container>
      <div layout>
        <md-input-container ng-if="$ctrl.hasFocus">
          <md-icon md-svg-icon="editor:ic_attach_money_24px"></md-icon>
          <input placeholder="you bid"
          ng-model="$ctrl.bid" min="0.01" step="0.01" required ng-change="$ctrl.round('earn', $ctrl.bid * (1-$ctrl.markup), 'bid')">
          <!-- <p class="md-caption">You earn: <strong>{{ $ctrl.earn * (1-$ctrl.markup) | currency }}</strong></p> -->
        </md-input-container>
        <md-input-container ng-if="$ctrl.hasFocus">
          <md-icon md-svg-icon="editor:ic_attach_money_24px"></md-icon>
          <input placeholder="you earn"
        ng-model="$ctrl.earn" min="0.01" step="0.01" required ng-change="$ctrl.round('bid', $ctrl.earn * (1+$ctrl.markup), 'earn')">
        </md-input-container>
      </div>
        
      <md-checkbox ng-if="$ctrl.request.deadline && $ctrl.hasFocus"
      ng-model="$ctrl.offer.deadlineAgreement" 
      ng-required="!!$ctrl.request.deadline"
      aria-label="I will meet the deadline">
        I can meet the deadline of {{$ctrl.request.deadline | date:'long'}}
      </md-checkbox>
      <md-button 
      ng-if="$ctrl.hasFocus" type="submit" class="md-primary" 
      ng-disabled="newOffer.$invalid">Send Offer</md-button>
    </form>
  </md-content>
</md-content>