$color: #ededed;

.new-offer {
  background-color: $color;
  transition: background ease 300ms;
  
  &.focussed {
    background-color: #fff;
    
    md-input-container, md-content {
      background-color: #fff;
    }
    
  }
  
  md-input-container, md-content {
    background-color: $color;
  }
  
}
