<div layout="column" layout-align="center center" ng-if="!currentUser">
  <h2> Please login to see this page</h2>
</div>

<div layout="column" layout-align="center center" ng-if="currentUser">
  <md-toolbar class="md-accent md-hue-3" layout="row">
    <span flex></span>
    <h1 class="md-display-1" flex="90">
      Balance: {{vm.user.profile.balance | currency}}
    </h1>
    <span flex></span>
  </md-toolbar>
</div>

<div flex="90" flex-md=100 flex-sm=100>
  <h1 class="text-center">{{vm.user.profile.name}}'s Order History</h1>

  <md-list>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Transactions Total: {{vm.total | currency}}</md-subheader>
    <md-list-item ng-repeat="order in vm.orders|orderBy:'dateCreated':true track by order._id" class="md-3-line secondary-button-padding">
      <md-icon md-svg-icon="editor:ic_attach_money_24px"></md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>{{order.orderTotal | currency}}<span ng-if="order.note">&nbsp;• {{ order.note }}</span></h3>
        <h4><span ng-if="order.cardAmount">Card Charge: {{order.cardAmount | currency}}</span><span ng-if="order.balanceAmount"> Store Credit: {{order.balanceAmount | currency}}</span></h4>
        <p> Status: {{order.status}} - {{order.dateCreated | calendar }}</p>
      </div>
      <md-button class="md-secondary" ui-sref="profile.gstReceipt({orderId: order._id})" ng-if="order.status !== 'credited' && order.status !== 'debited'">GST Report</md-button>
      <md-button ng-if="order.status === 'credited' || order.status === 'debited'" class="md-secondary" disabled>PAID</md-button>
    </md-list-item>
  </md-list>
</div>
