<md-content layout="row" layout-align="center center">
<md-card ng-repeat="product in card.products | orderBy: store.sort track by product._id" flex='33' flex-sm="50">
  <a ui-sref="productDetails({productId: product._id})">
    <cl-image public-id="{{product.img.result}}" class="md-card-image">
      <cl-transformation height="300" width="400" crop="fill" gravity="center"></cl-transformation>
    </cl-image>
  </a>
  <md-card-actions layout="row" layout-align="center start" style="margin-top:-25px;" >
    <!-- <md-button class="md-fab md-primary md-hue-2" aria-label="favourite">
      <md-icon md-svg-icon="social:ic_share_24px"></md-icon>
    </md-button> -->
    <md-fab-speed-dial md-open="product.share" md-direction="down" class="md-fling">
      <md-fab-trigger>
        <md-button aria-label="share menu" class="md-fab md-primary md-hue-2">
          <md-icon md-svg-icon="social:ic_share_24px"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions class="floating-fab-actions">
        <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
          <md-icon md-svg-icon="social:ic_share_24px" aria-label="Twitter"></md-icon>
        </md-button>
        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <md-icon md-svg-icon="action:ic_user_24px" aria-label="Facebook"></md-icon>
        </md-button>
        <md-button aria-label="Email" class="md-fab md-raised md-mini">
          <md-icon md-svg-icon="action:ic_user_24px" aria-label="Google Hangout"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
    <div ng-controller="orderProductCtrl as shop">
      <md-button class="md-fab md-primary md-hue-2" aria-label="shopping cart"
        ng-click="shop.addToCart($event, product, 1)"
      >
        <md-icon md-svg-icon="action:ic_shopping_cart_24px"></md-icon>
      </md-button>
    </div>
    <md-button class="md-fab md-warn" aria-label="favourite" ng-click="card.toggleFavourite(product._id)">
      <md-icon md-svg-icon="action:ic_favorite_24px"></md-icon>
    </md-button>
  </md-card-actions>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{product.name}}</span>
      <span class="md-subhead">{{product.price * store.markup | currency}} / {{product.unitOfMeasure}}</span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <form ng-if="!!$auth.currentUser" name="addToCartForm" ng-controller="orderProductCtrl as shop" ng-submit="shop.addToCart($event, product, shop.qty)" layout="row">
      <md-input-container flex class="add-to-cart-input">
        <label>Quantity</label>
        <input ng-model="shop.qty" type="number" min="{{product.minimumOrder || 1}}" required name="qty">
        <div ng-messages="addToCartForm.qty.$error" ng-if="addToCartForm.qty.$touched">
          <div ng-message="required">this field is required.</div>
          <div ng-message="min">You must order a minimum of {{ctrl.product.minimumOrder || 1}} for this order.</div>
        </div>
      </md-input-container>
      <md-button class="md-primary" type="submit">
        <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
        Add {{shop.qty || ''}} To Cart
      </md-button>
    </form>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-icon-button is-favourite"
      ng-class="card.isFavourite(product._id)"
      aria-label="Favourite"
      ng-click="card.toggleFavourite(product._id)"
      >
      <md-icon md-svg-icon="action:ic_favorite_24px"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="share">
      <md-icon md-svg-icon="social:ic_share_24px"></md-icon>
    </md-button>
    <md-button class="md-icon-button" href="/product/{{product._id}}" arai-label="product details">
      <md-icon md-svg-icon="navigation:ic_more_horiz_24px"></md-icon>
    </md-button>
  </md-card-actions>

    <!-- <div layout="row">
      <md-input-container>
        <input type="number" ng-min="product.minimumOrder || 1" ng-model="qty">
      </md-input-container>
      <md-button flex style="margin:0" ng-click="addToCart($event, product, qty)" class="md-raised md-primary">
        <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
        Order
      </md-button>
      <md-button class="md-fab md-danger" ng-click="remove(product)" ng-if="currentUser && hasRole(currentUser, 'admin')">
        <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
      </md-button>
    </div> -->

</md-card>
</md-content>
