<md-content layout="row" layout-align="center center" layout-padding layout-xs="column">
<md-card ng-repeat="product in card.products" flex='33' flex-sm="50">
  <a href="/product/{{product._id}}">
    <cl-image public-id="{{product.img.result}}" flex="100">
      <cl-transformation height="300" width="400" crop="fill" gravity="center"></cl-transformation>
    </cl-image>
  </a>
  <md-card-content>
    <md-list>
      <md-list-item class="md-3-line">
        <div class="md-list-item-text">
          <h2><a href="/product/{{product._id}}">{{product.name}}</a>
          </h2>
          <p><a href="/product/{{product._id}}">{{product.price * markup | currency}} / {{product.unitOfMeasure}}</a></p>
        </div>
      </md-list-item>
    </md-list>
    <form ng-if="!!card.user" name="addToCartForm" ng-controller="orderProductCtrl as shop" ng-submit="shop.addToCart($event, product, shop.qty)" layout="row">
      <md-input-container flex>
        <label>Quantity</label>
        <input ng-model="shop.qty" type="number" min="{{product.minimumOrder || 1}}" required name="qty">
        <div ng-messages="addToCartForm.qty.$error" ng-if="addToCartForm.qty.$touched">
          <div ng-message="required">this field is required.</div>
          <div ng-message="min">You must order a minimum of {{ctrl.product.minimumOrder || 1}} for this order.</div>
        </div>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">
        <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
        Add {{shop.qty || ''}} To Cart
      </md-button>
    </form>
    <!-- <div layout="row">
      <md-input-container>
        <input type="number" ng-min="product.minimumOrder || 1" ng-model="qty">
      </md-input-container>
      <md-button flex style="margin:0" ng-click="addToCart($event, product, qty)" class="md-raised md-primary">
        <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
        Order
      </md-button>
      <md-button class="md-fab md-danger" ng-click="remove(product)" ng-if="currentUser && hasRole(currentUser, 'admin')">
        <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
      </md-button>
    </div> -->
  </md-card-content>
</md-card>
</md-content>
