<md-toolbar class="md-menu-toolbar">
  <md-tabs>
    <md-tab label="All" md-on-select="show('all')"></md-tab>
    <md-tab ng-repeat="c in categories" label="{{c.name}}" md-on-select="show(c.name)"></md-tab>
  </md-tabs>
  <div class="md-toolbar-tools">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          md-no-cache="false"
          md-selected-item="search"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Search">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          No products called "{{searchText}}" were found.
          <!-- <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a> -->
        </md-not-found>
      </md-autocomplete>
    </form>
    <md-menu-bar>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Filter
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="stateParams.filter = undefined; changeMe = '' ">
              All
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="stateParams.filter = 'favourites'; changeMe = 'favourites' ">
              Favourites
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="stateParams.filter = 'last-order'; changeMe = 'last-order' ">
              Last Order
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Sort
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="sort = {name: 1}">
              Alphabetical
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="sort = {price: 1}">
              Price lowest-highest
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="sort = {price: -1}">
              Price highest-lowest
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    </md-menu-bar>
  </div>

</md-toolbar>


<div ui-view>
  <div ng-controller="ProductCardsCtrl as card">
    <div ng-include="'client/products/views/product-cards.ng.html'"></div>
  </div>
</div>
