<md-dialog role="dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex></span>
      <h2>{{product.name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
        <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <md-tabs md-selected="step" md-dynamic-height class="shopping-steps-tabs">
      <md-tab label="1">
        <h2>Hi {{$root.currentUser.profile.name}}</h2>
        <p>How many {{product.name}}es would you like to buy?</p>
        <p><br></p>
        <div layout="row" flex>
          <span flex></span>
          <h3 style="margin-top:0.6em; margin-right:8px">Slider</h3>
          <md-slider flex=60 min="1" max="10" md-discrete ng-model="order.qty" aria-label="qty" id="qty">
          </md-slider>
          <md-input-container flex="10" style="margin-top:-0.6em">
            <label for="qty">Quantity</label>
            <input type="number" name="qty" ng-model="order.qty" required aria-label="qty" aria-controls="qty">
          </md-input-container>
          <span flex></span>
        </div>
        <hr>
        <p ng-if="order.qty && order.qty > 0">That would cost {{product.price * order.qty | currency}}.</p>
        <!-- <p ng-if="order.qty && order.qty > 0">Click <a ng-click="step = step+1">Next</a> to continue.</p> -->
        <md-button style="margin-bottom:16px"
        class="md-raised md-primary"
        ng-click="step = step+1"
        ng-disabled="!order.qty"
        >Next</md-button>

      </md-tab>
      <md-tab label="2">
        <h2>Great!</h2>
        <p>Would you like that just once, or every week?</p>
        <!-- duration -->
        <div flex>
          <!-- <label>Please choose how many weeks you'd like your order to go for.</label> -->
          <md-radio-group ng-model="order.duration" layout="row">
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 1}" id="oneWeek" flex>Just Once</md-radio-button>
            <!-- <md-radio-button type="radio" name="duration"  ng-value="{weeks: 2}" id="twoWeeks" flex>Two Weeks</md-radio-button>
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 4}" id="oneMonth" flex>Four Weeks</md-radio-button>
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 8}" id="eightWeeks" flex>Eight Weeks</md-radio-button> -->
            <md-radio-button type="radio" name="duration"  ng-value="'continuous'" id="continuous" flex>Every Week</md-radio-button>
          </md-radio-group>
          <hr>
          <div layout="row">
            <md-button style="margin-bottom:16px" class="md-raised md-primary" ng-click="step = step-1">Back</md-button>
            <span flex >
            <p ng-show="!!order.duration">{{order.qty}}x {{product.name}}es @ {{product.price | currency}} each = <strong style="colour: rgb(139,195,74)">{{product.price * order.qty | currency}}</strong>
            <strong ng-show="order.duration == 'continuous'" style="colour: rgb(139,195,74)"> / week</strong></p></span>
            <md-button style="margin-bottom:16px"
            class="md-raised md-primary"
            ng-click="step = step+1"
            ng-disabled="!order.duration"
            >Next</md-button>
          </div>
        </div>
      </md-tab>
      <md-tab label="3">
        <div ng-hide="order.duration.weeks == 1 || order.duration == 'continuous'">
          <h2>Payment</h2>
          <p>You can pay for one-off orders by credit card or PayPal. <br> Or sign up to get a box every week, and pay by direct debit.</p>
          <p><br></p>
        </div>
        <div ng-show="order.duration == 'continuous'">
          <h2>Confirm Your Payment</h2>
          <p>Thanks for ordering from the Fresh Food Collective.</p>
          <p>Click the button below to set up your automatic payment</p>
          <md-button class="md-raised md-primary"
          ng-hide="order.duration.weeks == 1 || !order.duration"
          ng-click="createAP(product, order.qty, order.duration)">
            <md-icon md-svg-icon="action:ic_account_balance_24px"></md-icon>
            setup automatic payment
          </md-button>
        </div>
        <div ng-show="order.duration.weeks == 1">
          <h2>Confirm Your Order</h2>
          <p>Thanks for ordering from the Fresh Food Collective.</p>
          <p> Click the button below to checkout.</p>
          <md-button ng-hide="order.duration == 'continuous'|| !order.duration" class="md-raised md-primary" ng-click="addToCart(product, order.qty, order.duration)">
            <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
            add to cart
          </md-button>
        </div>
        <hr>
        <div layout="row" layout-xs="column">
          <md-button class="md-raised md-primary" ng-click="step = step-1">back</md-button>
          <span flex></span>

          <!-- <md-button ng-show="order.duration == 'continuous'" class="md-raised md-primary" ng-click="continuousOrder(product, order.qty, order.duration)">
            <md-icon md-svg-icon="action:ic_credit_card_24px"></md-icon>
            pay monthly by credit card
          </md-button> -->

        </div>
      </md-tab>

    </md-tabs>
    <!-- <form name="orderForm">
      <div layout="row">

        <md-slider flex=80 min="0" max="25" ng-model="qty" aria-label="qty" id="qty" class>
        </md-slider>
        <md-input-container flex="20">
          <label for="qty">Quantity</label>
          <input type="number" name="qty" ng-model="qty" required aria-label="qty" aria-controls="qty">
        </md-input-container>
      </div>
      <div ng-if="orderForm.qty.$invalid && orderForm.qty.$dirty">
        <span ng-if="orderForm.name.$error.required">Please tell us how many you want.</span>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <label>How many weeks would you like to get this product for?</label>
          <md-radio-group ng-model="duration" layout="row">
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 1}" id="oneWeek" flex>One Week</md-radio-button>
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 2}" id="twoWeeks" flex>Two Weeks</md-radio-button>
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 4}" id="oneMonth" flex>Four Weeks</md-radio-button>
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 8}" id="twoMonths" flex>Eight Weeks</md-radio-button>
          </md-radio-group>
        </div>
      </div>
    </form>
    <md-button class="md-raised md-primary" ng-click="addToCart(product, qty, duration)" ng-disabled="orderForm.$invalid">
      <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
      Add To Cart
    </md-button> -->
  </md-content>
</md-dialog>
