<div layout="row" layout-align="start end" layout-wrap>
<div ng-repeat="product in card.products | orderBy: store.sort track by product._id" 
	flex="25" flex-sm="33" flex-xs="50">
<md-card class="product-card">
  <a ui-sref="productDetails({productId: product._id})">
    <cl-image public-id="{{product.img.result}}" class="md-card-image">
      <cl-transformation height="300" width="400" crop="fill" gravity="center"></cl-transformation>
    </cl-image>
  </a>
	<div>
  <md-card-actions layout="row" layout-align="center start" layout-margin class="floating-actions">
    <div ng-controller="orderProductCtrl as shop">
      <md-button class="md-fab md-primary md-hue-2" aria-label="shopping cart"
        ng-click="shop.addToCart($event, product, 1)"
      >
        <md-icon md-svg-icon="{{ shop.alreadyInCart(product._id) }}"></md-icon>
        
      </md-button>
    </div>
  </md-card-actions>
  <md-card-header class="product-card-header">
    <md-card-header-text>
      <span class="md-title">{{product.name}}</span>
      <span class="md-subhead">{{product.price * store.markup | currency}} / {{product.unitOfMeasure}}</span>
    </md-card-header-text>
  </md-card-header>

  <md-card-content class="product-card-order-form">
    <form ng-if="!!$auth.currentUser" hide-xs name="addToCartForm" ng-controller="orderProductCtrl as shop" ng-submit="shop.addToCart($event, product, shop.qty)" layout="row">
      <md-input-container flex class="add-to-cart-input">
        <label>Quantity</label>
        <input ng-model="shop.qty" type="number" min="{{product.minimumOrder || 1}}" required name="qty">
        <div ng-messages="addToCartForm.qty.$error" ng-if="addToCartForm.qty.$touched">
          <div ng-message="required">this field is required.</div>
          <div ng-message="min">You must order a minimum of {{ctrl.product.minimumOrder || 1}} for this order.</div>
        </div>
      </md-input-container>
      <md-button class="md-primary" type="submit">
        Add {{shop.qty || ''}} To Cart
      </md-button>
    </form>
  </md-card-content>
  <md-card-actions layout="row" layout-align="space-between center">
    <div ng-cloak>
      <md-button class="md-icon-button is-favourite" ng-if="$auth.currentUser"
	      ng-class="card.isFavourite(product._id)"
	      aria-label="Favourite"
	      ng-click="card.toggleFavourite(product._id)"
	      >
	      <md-icon md-svg-icon="action:ic_favorite_24px"></md-icon>
	    </md-button>
      <fc-social-menu url="/product/{{product._id}}"></fc-social-menu>
		</div>
    <md-button class="md-icon-button" href="/product/{{product._id}}" arai-label="product details">
      <md-icon md-svg-icon="navigation:ic_more_horiz_24px"></md-icon>
    </md-button>
  </md-card-actions>

    <!-- <div layout="row">
      <md-input-container>
        <input type="number" ng-min="product.minimumOrder || 1" ng-model="qty">
      </md-input-container>
      <md-button flex style="margin:0" ng-click="addToCart($event, product, qty)" class="md-raised md-primary">
        <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
        Order
      </md-button>
      <md-button class="md-fab md-danger" ng-click="remove(product)" ng-if="currentUser && hasRole(currentUser, 'admin')">
        <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
      </md-button>
    </div> -->
	</div>
</md-card>
</div>
</div>
