<md-toolbar>
  <md-tabs>
    <md-tab label="All" md-on-select="store.show('all')"></md-tab>
    <md-tab ng-repeat="c in store.categories" label="{{c.name}}" md-on-select="store.show(c.name)"></md-tab>
  </md-tabs>
  <div class="md-toolbar-tools">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          md-no-cache="false"
          md-selected-item="store.search"
          md-search-text-change="store.searchTextChange(searchText)"
          md-search-text="store.searchText"
          md-selected-item-change="store.selectedItemChange(item)"
          md-items="item in store.querySearch(store.searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Search">
        <md-item-template>
          <span md-highlight-text="store.searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          No products called "{{searchText}}" were found.
          <!-- <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a> -->
        </md-not-found>
      </md-autocomplete>
    </form>
    <md-menu-bar>
      <!-- <md-menu>
        <button ng-click="$mdOpenMenu()">
          Filter
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="stateParams.filter = undefined; changeMe = '' ">
              All
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="stateParams.filter = 'favourites'; changeMe = 'favourites' ">
              Favourites
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="stateParams.filter = 'last-order'; changeMe = 'last-order' ">
              Last Order
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu> -->
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Sort
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="store.sort = {name: 1}">
              Alphabetical
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="store.sort = {price: 1}">
              Price lowest-highest
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="store.sort = {price: -1}">
              Price highest-lowest
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
    <md-switch class="md-accent md-hue-3" ng-model="store.favourites" aria-label="Switch Favourites" ng-if="$auth.currentUser">
      <span class="md-body-1">Show Only Favourites</span>
    </md-switch>
    <md-switch class="md-accent md-hue-3" ng-model="store.lastOrder" aria-label="Switch Last Order" ng-if="$auth.currentUser">
      <span class="md-body-1">Show My Last Order</span>
    </md-switch>
  </div>

</md-toolbar>


<div ui-view>
  <div ng-controller="ProductCardsCtrl as card">
    <div ng-include="'client/products/views/product-cards.ng.html'"></div>
  </div>
</div>
