<md-dialog role="dialog" ng-init="qty = 1">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Order your {{product.name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <h2>Ordering {{product.name}}</h2>
    <form name="orderForm">
      <!-- Qty -->
      <div layout="row">

        <md-slider flex=80 min="0" max="25" ng-model="qty" aria-label="qty" id="qty" class>
        </md-slider>
        <md-input-container flex="20">
          <label for="qty">Quantity</label>
          <input type="number" name="qty" ng-model="qty" required aria-label="qty" aria-controls="qty">
        </md-input-container>
      </div>
      <div ng-if="orderForm.qty.$invalid && orderForm.qty.$dirty">
        <span ng-if="orderForm.name.$error.required">Please tell us how many you want.</span>
      </div>
      <!-- duration -->
      <div class="row">
        <div class="small-12 columns">
          <label>How many weeks would you like to get this product for?</label>
          <md-radio-group ng-model="duration" layout="row">
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 1}" id="oneWeek" flex>One Week</md-radio-button>
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 2}" id="twoWeeks" flex>Two Weeks</md-radio-button>
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 4}" id="oneMonth" flex>Four Weeks</md-radio-button>
            <md-radio-button type="radio" name="duration"  ng-value="{weeks: 8}" id="twoMonths" flex>Eight Weeks</md-radio-button>
          </md-radio-group>
        </div>
      </div>
    </form>
    <md-button class="md-raised md-primary" ng-click="addToCart(product, qty, duration)" ng-disabled="orderForm.$invalid">
      <md-icon md-font-set="material-icons">add_shopping_cart</md-icon>
        Add To Cart
      </md-button>
  </md-content>
</md-dialog>
