.shopping-steps-tabs
  width: 750px
  max-width: 100%
  text-align: center

.md-track-ticks canvas
  left: 0

.text-slash
  position: absolute
  top: 26px
  left: 14px
  font-size: 1.5em

.image-replace
  position: absolute
  top: 0
  left: 0
  color: #ddd

.add-to-cart-input
  margin-bottom: 0!important

.is-favourite.favourite md-icon
  color: red

.floating-fab-actions
  position: absolute
  margin-left: 8px
