<md-toolbar class="md-menu-toolbar">
  <div class="md-toolbar-tools">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          md-no-cache="false"
          md-selected-item="search"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Search">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          No products called "{{searchText}}" were found.
          <!-- <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a> -->
        </md-not-found>
      </md-autocomplete>
    </form>
    <md-menu-bar>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Filter
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="stateParams.filter = undefined; changeMe = '' ">
              All
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="stateParams.filter = 'favourites'; changeMe = 'favourites' ">
              Favourites
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="stateParams.filter = 'last-order'; changeMe = 'last-order' ">
              Last Order
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Sort
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="sort = {name: 1}">
              Alphabetical
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="sort = {price: 1}">
              Price lowest-highest
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="sort = {price: -1}">
              Price highest-lowest
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    </md-menu-bar>
  </div>
</md-toolbar>
<md-tabs md-dynamic-height>
  <md-tab label="All">
    <md-content layout="row" layout-align="center center" layout-padding layout-xs="column">
      <md-card ng-repeat="product in products" flex='33' flex-sm="50">
        <a href="/product/{{product._id}}">
          <cl-image public-id="{{product.img.result}}" flex="100">
            <cl-transformation height="300" width="400" crop="fill" gravity="center"></cl-transformation>
          </cl-image>
        </a>
        <md-card-content>
          <md-list>
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h2><a href="/product/{{product._id}}">{{product.name}}</a>
                </h2>
                <p><a href="/product/{{product._id}}">{{product.price * markup | currency}}</a></p>
              </div>
            </md-list-item>
          </md-list>
          <form ng-if="!!$root.currentUser" name="addToCartForm" ng-controller="orderProductCtrl as sh" ng-submit="sh.addToCart($event, product, sh.qty)" layout="row">
            <md-input-container flex>
              <label>Quantity</label>
              <input ng-model="sh.qty" type="number" min="{{ctrl.product.minimumOrder || 1}}" required name="qty">
              <div ng-messages="addToCartForm.qty.$error" ng-if="addToCartForm.qty.$touched">
                <div ng-message="required">this field is required.</div>
                <div ng-message="min">You must order a minimum of {{ctrl.product.minimumOrder || 1}} for this order.</div>
              </div>
            </md-input-container>
            <md-button class="md-raised md-primary" flex>
              <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
              Add {{sh.qty || ''}} To Cart
            </md-button>
          </form>
          <!-- <div layout="row">
            <md-input-container>
              <input type="number" ng-min="product.minimumOrder || 1" ng-model="qty">
            </md-input-container>
            <md-button flex style="margin:0" ng-click="addToCart($event, product, qty)" class="md-raised md-primary">
              <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
              Order
            </md-button>
            <md-button class="md-fab md-danger" ng-click="remove(product)" ng-if="currentUser && hasRole(currentUser, 'admin')">
              <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
            </md-button>
          </div> -->
        </md-card-content>
      </md-card>
    </md-content>

  </md-tab>
  <md-tab ng-repeat="c in categories"
          label="{{c.name}}">
    <md-content layout="row" layout-align="center center" layout-padding layout-xs="column">
      <md-card ng-repeat="product in products|filter:c.name" flex='33' flex-sm="50">
        <a href="/product/{{product._id}}">
          <cl-image public-id="{{product.img.result}}" flex="100" >
            <cl-transformation height="300" width="400" crop="fill" gravity="center"></cl-transformation>
          </cl-image>
        </a>
        <md-card-content>
          <md-list>
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h2><a href="/product/{{product._id}}">{{product.name}}</a>
                </h2>
                <p><a href="/product/{{product._id}}">{{product.price * markup | currency}}</a></p>
              </div>
            </md-list-item>
          </md-list>
          <form ng-if="!!$root.currentUser" name="addToCartForm" ng-controller="orderProductCtrl as sh" ng-submit="sh.addToCart($event, product, sh.qty)" layout="row">
            <md-input-container flex>
              <label>Quantity</label>
              <input ng-model="sh.qty" type="number" min="{{ctrl.product.minimumOrder || 1}}" required name="qty">
              <div ng-messages="addToCartForm.qty.$error" ng-if="addToCartForm.qty.$touched">
                <div ng-message="required">this field is required.</div>
                <div ng-message="min">You must order a minimum of {{ctrl.product.minimumOrder || 1}} for this order.</div>
              </div>
            </md-input-container>
            <md-button class="md-raised md-primary" flex>
              <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
              Add {{sh.qty || ''}} To Cart
            </md-button>
          </form>
          <!-- <div layout="row">
            <md-input-container>
              <input type="number" ng-min="product.minimumOrder || 1" ng-model="qty">
            </md-input-container>
            <md-button flex style="margin:0" ng-click="addToCart($event, product, qty)" class="md-raised md-primary">
              <md-icon md-svg-icon="action:ic_add_shopping_cart_24px"></md-icon>
              Order
            </md-button>
            <md-button class="md-fab md-danger" ng-click="remove(product)" ng-if="currentUser && hasRole(currentUser, 'admin')">
              <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
            </md-button>
          </div> -->
        </md-card-content>
      </md-card>
    </md-content>

  </md-tab>
</md-tabs>
