.shopping-steps-tabs
  width: 750px
  max-width: 100%
  text-align: center

.md-track-ticks canvas
  left: 0

.margin-top
  margin-top: 20px

.text-slash
  position: absolute
  top: 26px
  left: 14px
  font-size: 1.5em

.image-replace
  position: absolute!important
  top: 5px
  left: 5px

  md-icon
    color: #ddd

.image-replace-library
  position: absolute!important
  top: 5px
  left: 20px

  md-icon
    color: #ddd

.image-delete
  position: absolute!important
  top: 5px
  right: 5px

  md-icon
    color: #ddd

.add-to-cart-input
  margin-bottom: 0!important

.is-favourite.favourite md-icon
  color: red

.floating-fab-actions
  position: absolute
  margin-left: 8px

.product-card > div
	position: relative

	.floating-actions
		position: absolute
		left: 0
		right: 0
		top: -46px

	md-card-header.product-card-header
		padding-top: 35px
		padding-bottom: 0px
		text-align: center

	md-card-content.product-card-order-form
		padding-bottom: 0px
		padding-top: 0px

.product-card-container
  &.ng-enter
    animation: bounceIn 1200ms

  &.ng-leave
    animation: bounceOut 1200ms

.img-drop-area
  position: relative
