<md-content layout="row">
  <span flex></span>
  <section layout="column" flex="40" flex-sm="90" flex-md="60">
    <br>
    <h1 class="md-headline">Welcome to the New Whangarei Food Co-op</h1>
    <p class="md-body-1">Overhauled for speed, security and flexibility, our new website gives you all the shopping tools you love, plus a few more.</p>
     <p class="md-body-1"> Just sign in to get started. If you're a producer, we'll import your products and account details. You'll need to re-upload your product images, but everything else will be ready to go.</p>
    
    <h1 class="md-title text-center">Sign In To Get Started</h1>
    <div ng-show="rpc.error" class="md-warn">
      <small>{{ rpc.error }}</small>
    </div>
    <form layout="column" ng-submit="vm.set()">
      <md-input-container>
        <md-icon md-svg-icon="action:ic_lock_24px"></md-icon>
        <input type="password" ng-model="vm.password" required
               placeholder="password" aria-label="password"/>
      </md-input-container>
      <md-button class="md-raised md-primary"
        type="submit" aria-label="login">Import Account
      </md-button>
    </form>
    <br>
    
    <h2 class="md-title">Changes to the Website</h2>
    
    <ul class="md-body-1">
      <li>To confirm your order, you must check out and pay by credit card or PayPal. (More payment options coming soon)</li>
      <li>GST sales reports are now available to help GST registered members properly claim their purchases.</li>
      <li>No more refreshing pages; our fast and responsive catalog  reacts to changes in real-time.</li>
      <li>New detailed Producer Profiles </li>
      <li>Please be aware this website only supports current web browsers. Internet Explorer users will need Edge or Internet Explorer 11 for the best experience.</li>
    </ul>
    <p>This website is still a work-in-progress, so please report any problems so they can be fixed quickly for everyone.</p>
    
  </section>
  <span flex></span>
</md-content>
