<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Full Co-op Membership</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2 class="md-title">Membership</h2>
          <p> Membership is a one-time cost. Pay once, and enjoy lifetime membership for your whole household. No strings attached; we'll refund the amount if you ever decide to leave the co-op.</p>
          <h4>Why do I have to pay membership? </h4>
            <p>Simply put, because we're a co-op. We provide a service for our members, and are owned by them. If you want to keep using our service once your free trial ends, you'll need to become a member. </p>
          <h4>What does membership get me?</h4>
           <ul> 
             <li>Exclusive access to our range of local and organic food, including some available only through our co-op</li>
             <li>Shares in our company. We give our members shares in the co-op. And just like big-business shareholders, you'll get a percentage of our profits- and the right to vote on any major decisions</li>
              <li>A unique community of food lovers and growers. Meet like minded people and attend co-op social events</li>
              <li>Advancement opportunities. Apply for a leadership position, join the board of directors or volunteer on delivery day. Have fun with other members like you, and gain valuable work experience for your CV</li>
             <li>Got something to sell? Producer members get exclusive access to our e-commerce and marketing tools. Reach our network of local customers, and grow your business today</li>
           </ul>
        
          <h4> What is my money used for?</h4>
            <p>Your investment is important to us, so we're careful about where your money goes and what it's spent on. When you pay for membership, it goes towards new infrastructure, like refrigeration, to make your co-op even more awesome.</p>
      
          <p>Ready to sign up? Enjoy our service risk-free for 30 days. Once your trial is over, the cost of full membership will depend on whether you're a producer or a customer.</p>
        <h3 class="md-headline">Customer Membership: {{prices.customer | currency}} &amp; Producer Membership: {{prices.producer | currency}}</h3>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ui-sref="faq" target="_blank" class="md-accent md-hue-2">
        Read our FAQ
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('useful')" style="margin-right:20px;" md-autofocus class="md-primary md-hue-2">
        Got it
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>