<md-content layout="row" layout-margin>
  <span flex></span>
  <div layout="column" flex="40" flex-xs="90" flex-sm="60">
    <div layout layout-align="center">
      <md-button ui-sref="customer-benefits" class="md-raised md-primary">Why be a Customer?</md-button>
      <md-button ui-sref="producer-benefits" class="md-raised md-primary">Why be a Producer?</md-button>
    </div>
    <md-button ng-click="rc.facebookLogin()" class="md-raised"> sign up with
      <md-icon md-svg-src="f_icon.svg"></md-icon>
      Facebook
    </md-button>
    <br>
    <md-divider></md-divider>
    <br>
    <form layout="column" name="signupForm">
      <div ng-show="rc.error" class="md-warn">
        <small>{{ rc.error }}</small>
      </div>
      <md-input-container>
        <md-icon md-svg-icon="social:ic_person_24px" class="md-accent"></md-icon>
        <input type="text" ng-model="rc.credentials.profile.name" name="name" required  md-select-on-focus
               placeholder="name" aria-label="name"/>
        <div ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched">
          <div ng-message="required">Please tell us your full legal name.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <md-icon md-svg-icon="content:ic_mail_24px" class="md-accent"></md-icon>
        <input type="text" ng-model="rc.credentials.email" name="email" required md-select-on-focus
               placeholder="email" aria-label="email"/>
        <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
          <div ng-message="required">An email address is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <md-icon md-svg-icon="action:ic_lock_open_24px" class="md-accent"></md-icon>
        <input type="password" ng-model="rc.credentials.password" name="password" required
        placeholder="password" aria-label="password"/>
        <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
          <div ng-message="required">Don't forget a password! Security is important.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <md-icon md-svg-icon="communication:ic_call_24px" class="md-accent"></md-icon>
        <input type="text" ng-model="rc.credentials.profile.phone" name="phone"
               placeholder="phone" aria-label="phone" required/>
        <div ng-messages="signupForm.phone.$error" ng-if="signupForm.phone.$touched">
          <div ng-message="required">Please provide a phone number for us to contact you on.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <md-icon md-svg-icon="maps:ic_place_24px" class="md-accent"></md-icon>
        <input
          required
          g-places-autocomplete
          type="text"
          ng-model="rc.credentials.profile.deliveryAddress"
          autocomplete="off"
          placeholder="home address"
          aria-label="address"
          name="address"
        />
        <small ng-if="rc.credentials.profile.deliveryAddress.place_id"><md-icon md-svg-icon="action:ic_done_24px"></md-icon> Found that address</small>
        <small ng-if="!rc.credentials.profile.deliveryAddress.place_id">Please choose an address from the suggestions provided.</small>
        <div ng-messages="signupForm.address.$error" ng-if="signupForm.address.$touched">
          <div ng-message="required">Please provide your home address.</div>
        </div>
      </md-input-container>
      <md-radio-group ng-model="rc.role" layout="row" layout-margin>
        <md-radio-button value="customer" class="md-primary">Customer <!-- ({{rc.prices.customer | currency}}) --></md-radio-button>
        <md-radio-button value="producer" class="md-primary">Producer <!-- ({{rc.prices.producer | currency}}) --></md-radio-button>
      </md-radio-group>
      <p style="margin-bottom: 0">Anyone can trial membership for a month, for free. Once your 30 days are up, just pay the one-time membership fee for ongoing access.</p>
      <div layout layout-align="end center"><md-button ng-click="rc.open($event)" class="md-accent md-hue-2">Benefits of membership</md-button></div>
      <br>
      <md-divider></md-divider>
      <div ng-show="rc.error" class="md-warn">
        <small>{{ rc.error }}</small>
      </div>
      <md-button
        class="md-raised md-primary"
        ng-disabled="signupForm.$invalid"
        ng-click="rc.register()">Create Account
      </md-button>

    </form>
    <p class="text-center">Already have an account?</p>
    <md-button href="/login" class="md-primary md-raised">Login</md-button>

  </div>
  <span flex></span>
</md-content>
