<md-content layout="row">
  <span flex></span>
  <md-whiteframe layout="column" flex="40" flex-sm="90" flex-md="60">
    <br><br><br>
    <h1 class="md-headline">Forgot your password?</h1>
    <p>Don't worry, we won't tell anyone. Enter your email address below and we'll send you a link to reset your password.</p>
    <form layout="column">
      <div ng-show="rpc.error" class="md-warn">
        <small>{{ rpc.error }}</small>
      </div>
      <md-input-container>
        <md-icon md-svg-icon="content:ic_mail_24px" class="md-accent"></md-icon>
        <input type="text" ng-model="rpc.credentials.email" required
               placeholder="email" aria-label="email"/>
      </md-input-container>
      <md-button class="md-raised md-primary"
                 ng-click="rpc.reset()" aria-label="login">Reset password
      </md-button>
    </form>
    <div layout="row" layout-align="end center">
      <md-button href="/login">Login</md-button>
    </div>
  </md-whiteframe>
  <span flex></span>
</md-content>
