.event-header {
  border: #ccc solid 1px;
}

.event-header img {
  width: 100%;
}

.event-time {
  font-size: 1.8em;
  font-weight: 100;
  margin: 20px;
}

.event-date {
  color: #e34e60;
  font-weight: 100;
}