<!-- <md-content ng-if="!$auth.currentUser.profile.cart" layout="column" layout-align="center center">
  <h2>No items in your cart yet</h2>
  <h3>Maybe do some shopping and then come back?</h3>
</md-content> -->
<md-content layout="row" layout-align="center center">
  <span flex></span>
  <div flex="90" flex-md=100 flex-sm=100>
    <h1 class="text-center md-title"> Shopping Cart </h1>

    <table class="material-table cart-table" ng-cloak>
      <thead>
        <tr>
          <td></td>
          <td>
            Product
          </td>
          <td>
            Producer
          </td>
          <td>
            Price
          </td>
          <td>
            Quantity
          </td>
          <td>
            Total
          </td>
          <td></td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="6">
            Cart Total
          </td>
          <td>{{cart.total | currency}}</td>
        </tr>
        <tr ng-if="$auth.currentUser.profile.balance !== 0">
          <td colspan="6">Balance</td>
          <td ng-class="{'green-text': $auth.currentUser.profile.balance > 0, 'red-text': $auth.currentUser.profile.balance < 0}">
            {{$auth.currentUser.profile.balance | currency}}
          </td>
        </tr>
        <tr ng-if="$auth.currentUser.profile.balance !== 0">
          <td colspan="6">
            Total Owing
          </td>
          <td>
            <span ng-if="$auth.currentUser.profile.balance < cart.total">
              {{cart.total - $auth.currentUser.profile.balance | currency}}
            </span>
            <span ng-if="$auth.currentUser.profile.balance > cart.total">
              $0.00
            </span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="item in cart.items track by item._id">
          <td>
            <a ui-sref="productDetails({productId: item.productId})">
              <cl-image public-id="{{item.details.img.result}}" class="thumbnail" >
                <cl-transformation height="60" width="60" crop="fill" gravity="center"></cl-transformation>
              </cl-image>
              <ng-letter-avatar ng-if="!item.details.img.result" data="{{item.details.name}}" font-size="36" shape="round" width="60" height="60"></ng-letter-avatar>
            </a>
          </td>
          <td>
            {{item.details.name}}
          </td>
          <td>
            {{item.details.producerCompanyName || item.details.producerName}}
          </td>
          <td>
            {{item.details.price * cart.markup | currency}}
          </td>
          <td>
            <md-input-container class="input-table">
              <input aria-label="item quantity" type="number" name="qty" ng-model="item.qty" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="cart.changeQuantity(item._id, item.productId, item.qty,  '{{item.qty}}')" min="1">
            </md-input-container>
          </td>
          <td>
            {{item.details.price * item.qty * cart.markup | currency}}
          </td>
          <td>
            <md-button class="md-icon-button" aria-label="More" ng-click="cart.removeFromCart(item._id)">
              <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
    <md-content layout="row">
      <span flex></span>
      <h1 class="md-headline">You can pick up this order {{cart.nextDeliveryDay | calendar}}</h1>
      <span flex></span>
    </md-content>
    <ui-view>
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-warn" ui-sref="cart.checkout">Checkout</md-button>
        <md-button class="md-raised md-primary" ui-sref="store">Keep Shopping</md-button>
      </div>
    </ui-view>

  </div>
  <span flex></span>
</md-content>

