<!-- <md-content ng-if="!currentUser.profile.cart" layout="column" layout-align="center center">
  <h2>No items in your cart yet</h2>
  <h3>Maybe do some shopping and then come back?</h3>
</md-content> -->
<md-content layout="row" layout-align="center center">
  <span flex></span>
  <div flex="90" flex-md=100 flex-sm=100>
    <h1 class="text-center md-title"> Shopping Cart </h1>
    <cart-table items="cart.items" total="cart.total" user="currentUser" on-update="cart.changeQuantity(id, newQty, oldQty)" on-remove="cart.removeFromCart(id)"></cart-table>
    
    <md-content layout="row">
      <span flex></span>
      <h1 class="md-headline">You can pick up this order {{cart.nextDeliveryDay | calendar}}</h1>
      <span flex></span>
    </md-content>
    <ui-view>
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-warn" ui-sref="cart.checkout">Checkout</md-button>
        <md-button class="md-raised md-primary" ui-sref="store">Keep Shopping</md-button>
      </div>
    </ui-view>

  </div>
  <span flex></span>
</md-content>

