<form name="editUser" ng-submit="validate('editUser.$isValid')">
  <!-- Hub they will pickup from -->
  <div class="row">
    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="hub">Order Collection</label>
        </div>
        <div class="small-9 columns">
          <select ng-model="currentUser.profile.hub" name="hub" ng-selected="currentUser.profile.hub.location"
          ng-options="{
            _id: hub._id,
            location: hub.location,
            dayOfTheWeek: hub.dayOfTheWeek,
            openHours: hub.openHours
          } as hub.location for hub in hubs">
            <option value="">{{'Current Choice: ' + currentUser.profile.hub.location || "Select a Hub to Pick up from" }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Name -->
  <div class="row">
    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="name" class="right inline">Full Name</label>
        </div>
        <div class="small-9 columns">
          <input type="text" name="name" placeholder="name" ng-model="currentUser.profile.name" required>
          <div ng-if="submitted && editUser.name.$invalid">
            <span ng-if="editUser.name.$error.required">Please tell us your name.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Phone -->
  <div class="row">
    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="phone" class="right inline">Primary Phone</label>
        </div>
        <div class="small-9 columns">
          <input type="tel" name="phone" placeholder="09 555 5555" ng-model="currentUser.profile.phone">
          <div ng-if="submitted && editUser.phone.$invalid">
            <span ng-if="editUser.phone.$error.required">Please tell us your phone number.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Address -->
  <div class="row">
    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="address" class="right inline">Home Address</label>
        </div>
        <div class="small-9 columns">
          <input type="text" name="address" placeholder="name" ng-model="currentUser.profile.address">
          <div ng-if="submitted && editUser.address.$invalid">
            <span ng-if="editUser.address.$error.required">Please tell us your address.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit">Save</button>

</form>
