<md-content layout="row" layout-xs="column">
  <span flex></span>
  <md-whiteframe layout="column" flex="50" flex-sm="95">
    <br><br><br>
    {{error}}
    <form name="editUser" layout="column" ng-submit="validate(editUser.$valid)">
      <md-input-container>
        <md-icon md-svg-icon="social:ic_person_24px" class="md-accent"></md-icon>
        <input type="text" ng-model="currentUser.profile.name"
               placeholder="name" aria-label="name"/>
      </md-input-container>

      <md-input-container>
        <md-icon md-svg-icon="communication:ic_chat_24px" class="md-accent"></md-icon>
        <input type="text" ng-model="currentUser.profile.phone"
               placeholder="phone" aria-label="phone"/>
      </md-input-container>

      <!-- <md-input-container>
        <md-icon md-svg-icon="maps:ic_place_24px" class="md-accent"></md-icon>
        <input type="text" ng-model="currentUser.profile.address"
          placeholder="home address" aria-label="address"/>
      </md-input-container> -->

      <md-input-container>
        <md-icon md-svg-icon="maps:ic_place_24px" class="md-accent"></md-icon>
        <input type="text" ng-model="currentUser.profile.deliveryAddress"
          g-places-autocomplete
          placeholder="home address" aria-label="home address"/>
      </md-input-container>

      <md-input-container>
        <md-icon md-svg-icon="action:ic_account_balance_24px" class="md-accent"></md-icon>
        <input type="text" ng-model="currentUser.profile.bankAccount"
          placeholder="Bank Account to Send Sales To"/>
      </md-input-container>

      <md-button type="submit" class="md-raised md-primary">Save</md-button>

    </form>
  </md-whiteframe>
  <span flex></span>
</md-content>
