

<section layout="column" layout-align="center center" layout-wrap>
  <h1>Manage your Payment Methods with us</h1>
  <md-content layout="row">
    <span flex></span>
    <p flex="60" flex-sm="90">Note: only credit cards and paypal will show up here. Click a payment method to make it the default payment method or click the trash can to delete your payment method</p>
    <span flex></span>
  </md-content>
</section>
<md-content layout="row">
  <span flex></span>
  <md-list flex="60" flex-sm="90">
    <md-divider></md-divider>
    <md-list-item ng-repeat="p in paymentMethods" ng-click="p.makeDefault(callback)">
      <img ng-src="{{p.imageUrl}}" alt="" class="md-avatar"/>
      <p>{{p.maskedNumber}} <span ng-show="p.default">(default)</span></p>
      <md-icon md-svg-icon="action:ic_delete_24px" ng-click="p.delete(callback)" aria-label="delete payment method" ng-class="{'md-primary': p.default}"></md-icon>

    </md-list-item>
  </md-list>
  <span flex></span>
</md-content>
