<h1>Manage your Payment Methods with us</h1>

<table>
  <thead>
    <tr>
      <th>
        Payment Type
      </th>
      <th>
        Number
      </th>
      <th colspan="2">
        Default
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="p in paymentMethods">
      <td>
        <img ng-src="{{p.imageUrl}}" alt=""/>
      </td>
      <td>
        {{p.maskedNumber}}
      </td>
      <td>
        {{p.default}}
      </td>
      <td>
        <button type="button" class="btn" ng-click="p.makeDefault(callback)">
          Make Default
        </button>
        <button type="button" ng-click="p.delete(callback)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
