<div layout="column" layout-align="center center" ng-if="!currentUser">
  <h2> Please login to see this page</h2>
</div>

<div layout="column" layout-align="center center" ng-if="currentUser">
  <md-toolbar class="md-tall md-primary md-hue-3" layout="row">
    <span flex></span>
    <h1 class="md-display-3" flex="90">
      Your Sales
    </h1>
    <span flex></span>
  </md-toolbar>
</div>

<md-content layout="row" layout-align="start center">
  <span flex></span>
  <div flex="90" flex-md=100 flex-sm=100>
    <div layout="row" layout-align="center center">
      <md-button class="md-icon-button" aria-label="back one week" ng-click="backward()">
        <md-icon md-svg-src="navigation:ic_arrow_back_24px"></md-icon>
      </md-button>
      <h2 class="text-center">Sales {{deliveryWording}} delivered {{deliveryDay | date:'EEE dd/MM/yyyy'}}</h2>
      <md-button class="md-icon-button" aria-label="forward one week" ng-click="forward()">
        <md-icon md-svg-src="navigation:ic_arrow_forward_24px"></md-icon>
      </md-button>
    </div>

    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Search</label>
      <md-icon md-svg-src="action:ic_search_24px"></md-icon>
      <input ng-model="search" type="text">
    </md-input-container>

    <!-- <div layout="row" layout-align="center center">
      <md-button></md-button>
    </div> -->
    <div layout="row" layout-align="center center">
      <div flex="50" flex-sm="90">
        <section layout="row" layout-align="center center" layout-wrap>
          <figure ng-repeat="(product, count) in occurrences(filteredSales)" class="text-center">
            <h1 class="md-display-1">{{count}}</h1>
            <figcaption>
              <h3>{{product}}</h3>
            </figcaption>
          </figure>
        </section>
      </div>
      <div flex="50" flex-sm="90">
        <h2 class="text-right">Total: {{total(filteredSales) | currency}}</h2>
      </div>
    </div>

    <table class="material-table order-table">
      <thead>
        <tr>
          <th>
            Customer
          </th>
          <th>
            Product
          </th>
          <th>
            Price
          </th>
          <th>
            Quantity
          </th>
          <th>
            Total
          </th>
        </tr>
      </thead>
      <tr ng-repeat="i in sales | filter:search as filteredSales ">
        <td>
          {{i.customerName}} #{{i.customerNumber}}
        </td>
        <td>
          {{i.productName}}
        </td>
        <td>
          {{i.price | currency}}
        </td>
        <td>
          {{i.qty}}
        </td>
        <td>
          {{i.qty * i.price | currency}}
        </td>
      </tr>
    </table>

  </div>
  <span flex></span>

</md-content>
