<div layout="column" layout-align="center center" ng-if="!currentUser">
  <h2> Please login to see this page</h2>
</div>

<div layout="column" layout-align="center center" ng-if="currentUser">
  <md-toolbar class="md-tall md-primary md-hue-3" layout="row">
    <span flex></span>
    <h1 class="md-display-3" flex="90">
      Your Sales
    </h1>
    <span flex></span>
  </md-toolbar>
</div>

<md-content layout="row" layout-align="start center">
  <span flex></span>
  <div flex="90" flex-md=100 flex-sm=100>
    <div layout="row" layout-align="center center">
      <md-button class="md-icon-button" aria-label="back one week" ng-click="sales.backward()">
        <md-icon md-svg-src="navigation:ic_arrow_back_24px"></md-icon>
      </md-button>
      <h2 class="text-center md-title">Sales {{sales.deliveryWording}} delivered {{sales.deliveryDay | calendar}}</h2>
      <md-button class="md-icon-button" aria-label="forward one week" ng-click="sales.forward()">
        <md-icon md-svg-src="navigation:ic_arrow_forward_24px"></md-icon>
      </md-button>
    </div>

    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Search this week's sales</label>
      <md-icon md-svg-src="action:ic_search_24px"></md-icon>
      <input ng-model="sales.search" type="text">
    </md-input-container>

    <!-- <div layout="row" layout-align="center center">
      <md-button></md-button>
    </div> -->
      
    <section layout="row" layout-align="center center">
      <table class="material-table" flex="70" flex-xs="100">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(product, count) in sales.occurrences(filteredSales)"
            ng-click="sales.search = product">
            <td>{{product}}</td>
            <td>{{count}}</td>
          </tr>
        </tbody>
      </table>
    </section>
      
    <div layout="row" layout-align="end">
      <h2 class="text-right md-title">Sales Total: {{sales.total(filteredSales) | currency}}</h2>
    </div>

    <table class="material-table order-table">
      <thead>
        <tr>
          <th>
            <md-button md-no-ink ng-click="sales.saleTable.sort='status'; sales.saleTable.reverse = !sales.saleTable.reverse">Status</md-button>
          </th>
          <th>
            <md-button md-no-ink ng-click="sales.saleTable.sort='customerName'; sales.saleTable.reverse = !sales.saleTable.reverse">Customer</md-button>
          </th>
          <th>
            <md-button md-no-ink ng-click="sales.saleTable.sort='productName'; sales.saleTable.reverse = !sales.saleTable.reverse">Product</md-button>
          </th>
          <th>
            <md-button md-no-ink ng-click="sales.saleTable.sort='price'; sales.saleTable.reverse = !sales.saleTable.reverse">Price</md-button>
          </th>
          <th>
            <md-button md-no-ink ng-click="sales.saleTable.sort='qty'; sales.saleTable.reverse = !sales.saleTable.reverse">Quantity</md-button>
          </th>
          <th>
            <md-button md-no-ink ng-click="sales.saleTable.sort=sales.totalSort; sales.saleTable.reverse = !sales.saleTable.reverse">Total</md-button>
          </th>
        </tr>
      </thead>
      <tr ng-repeat="i in sales.sales | orderBy: sales.saleTable.sort: sales.saleTable.reverse | filter:sales.search as filteredSales "
        ng-class="
              {
                'cancelled': i.status == 'cancelled',
                'refunded': i.status == 'refunded',
                'collected': i.status == 'collected',
                'sorted': i.status == 'sorted',
                'delivered': i.status == 'delivered',
                'undelivered': i.status == 'undelivered'
              }"
      > <td><span ng-show="i.status == 'refunded'">Customer refunded</span>
          <span ng-hide="i.status == 'refunded'">{{i.status}}</span>
        </td>
        <td>
          {{i.customerName}} #{{i.customerNumber}}
        </td>
        <td>
          {{i.productName}}
        </td>
        <td>
          {{i.price | currency}}
        </td>
        <td>
          {{i.qty}}
        </td>
        <td>
          {{i.qty * i.price | currency}}
        </td>
      </tr>
    </table>

  </div>
  <span flex></span>

</md-content>
