<div layout="column" layout-align="center center">
  <h2 ng-if="currentUser.profile.hasOwnProperty('hub')"> Your Deliveries will be on: {{currentUser.profile.hub.dayOfTheWeek}} {{currentUser.profile.hub.openHours}}</h2>
</div>

<div layout="column" layout-align="center center">
  <h3 ng-show="hasAP"> Please make your automatic bank account payments to <strong>02-0000-000000-01</strong> and user your customer number (<strong>{{currentUser.profile.customerNumber}}</strong>) as a reference.</h3>
</div>

<md-content layout="column" layout-align="start center">

  <md-list>
    <md-subheader>Active Subscriptions</md-subheader>
    <md-list-item ng-repeat="item in subscriptions | filter:{status:'active'} track by item._id" class="md-3-line">
      <img ng-src="item.details.thumb" ng-if="item.details.thumb" class="md-avatar">
      <div class="md-list-item-text">
        <h3>x{{item.qty}} {{item.productDetails.name}}</h3>
        <h4>total duration: {{duration(item.end_date, item.start_date)}} <span ng-hide="item.indefinate">ending on {{item.end_date | date:'d MMM, y'}}</span></h4>
        <p><span ng-if="item.indefinate">
          {{item.productDetails.price * item.qty * 50/12 | currency}}
        </span>
        <span ng-if="!item.indefinate">
          {{item.productDetails.price * item.qty * weeksRemaining(item.end_date) | currency}}
        </span></p>
      </div>
    </md-list-item>
  </md-list>

  <md-list>
    <md-subheader>Expired or Cancelled Subscriptions</md-subheader>
    <md-list-item ng-repeat="item in subscriptions | filter:{status:'cancelled'} track by item._id" class="md-3-line">
      <img ng-src="item.details.thumb" ng-if="item.details.thumb" class="md-avatar">
      <div class="md-list-item-text">
        <h3>x{{item.qty}} {{item.productDetails.name}}</h3>
        <h4>total duration: {{duration(item.end_date, item.start_date)}} <span ng-hide="item.indefinate">ending on {{item.end_date | date:'d MMM, y'}}</span></h4>
        <p><span ng-if="item.indefinate">
          {{item.productDetails.price * item.qty * 50/12 | currency}}
        </span>
        <span ng-if="!item.indefinate">
          {{item.productDetails.price * item.qty * weeksRemaining(item.end_date) | currency}}
        </span></p>
      </div>
    </md-list-item>
  </md-list>

</md-content>
