md-card>a>img.md-card-image, .product-card>a>img.md-card-image {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
    height: auto;
}
