<md-content layout="column" flex="50" flex-offset="25">

<h2>Adding {{hub.title || 'New Hub'}}</h2>

<form id="updateHubForm" novalidate="novalidate" class="ng-pristine ng-valid ng-scope">
  <md-input-container>
    <label>Location</label>
    <input type="text" required ng-model="hub.location" maxlength="200">
  </md-input-container>

  <md-input-container>
    <label>Title</label>
    <input type="text" ng-model="hub.title" aria-label="Hub Title">
  </md-input-container>

  <md-input-container>
    <label>Day of the week</label>
    <input type="text" ng-model="hub.dayOfTheWeek" required maxlength="20">
  </md-input-container>

  <md-input-container>
    <label>Hours of Operation</label>
    <input type="text" required ng-model="hub.openHours">
  </md-input-container>

  <md-input-container>
    <label>Hub Description</label>
    <textarea ng-model="hub.description" columns="1" md-maxlength="150"></textarea>
  </md-input-container>

  <md-input-container>
    <md-button type="button" class="btn btn-primary" ng-click="save(hub)">Done</md-button>
  </md-input-container>

</form>
</md-content>
