
<style>.angular-google-map-container { height: 800px; width:100% }</style>
<md-content layout="row" layout-align="center start">
  <div flex="33">
    <md-toolbar class="md-primary md-hue-1">
      <div class="md-toolbar-tools">
        <h1 class="md-display-1">Hub Directory</h1>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item ng-repeat="hub in hubs" class="md-3-line" ng-class="{'md-whiteframe-z4':currentUser.profile.hub.id === hub._id}">
        <md-icon md-svg-icon="action:ic_room_24px" class="md-primary" style="margin-left:5px"></md-icon>
        <div class="md-list-item-text" layout="column">
          <h3>{{hub.title}} <small ng-if="currentUser && hasRole(currentUser, 'admin')"><a ui-sref="hubDetails({hubId: hub._id})">edit</a></small></h3>
          <h4>{{hub.location}}</h4>
          <p>{{hub.dayOfTheWeek}} from {{hub.openHours}}</p>
          <md-button ng-click="remove(hub)" ng-if="currentUser && hasRole(currentUser, 'admin')">X</md-button>
        </div>
      </md-list-item>
    </md-list>
  </div>


  <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" style="width:100%" options="map.mapOptions">
    <ui-gmap-window show="map.window.show" coords="map.window.model.coords" options="map.window.options" closeclick="map.window.closeClick()" templateUrl="map.window.templateUrl" templateParameter="{hub: map.window.model, joinHub:joinHub}">Hi!</ui-gmap-window>

    <ui-gmap-markers idKey="'_id'" models="hubs" coords="'coords'" fit="true" events="map.markersEvents" show="'show'"
    ></ui-gmap-markers>
  </ui-gmap-google-map>





</md-content>
