<meteor-include src="insertHubForm" ng-if="currentUser && hasRole(currentUser, 'admin')"></meteor-include>

<style>.angular-google-map-container { height: 800px; width:100% }</style>
<md-content layout="row" layout-align="center start">
  <md-list>
    <h1>Hub Directory</h1>
    <md-list-item ng-repeat="hub in hubs">
      <h4>{{hub.title || hub.location}} <small><a ui-sref="hubDetails({hubId: hub._id})">edit</a></small></h4>
      <md-list>
        <md-list-item>{{hub.dayOfTheWeek}} from {{hub.openHours}}</md-list-item>
        <md-list-item>{{hub.description}}</md-list-item>
        <md-button ng-click="remove(hub)" ng-if="currentUser && hasRole(currentUser, 'admin')">X</md-button>
      </md-list>
    </md-list-item>
  </md-list>

  <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" style="width:100%" options="map.mapOptions">
    <ui-gmap-markers idKey="'_id'"
    models="hubs" coords="'coords'" fit="true"
    >
      <ui-gmap-windows>
        <div ng-non-bindable>
          <p>{{location}}</p>
          Open {{dayOfTheWeek}} from {{openHours}}
        </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>


</md-content>
