<h2>Fresh Food Collective Admin Panel</h2>

<ul>
  <li><a ui-sref="admin.users">Users</a></li>
  <li><a ui-sref="admin.orders">Orders</a></li>
</ul>

<ui-view>
  <div layout="row" layout-margin>
    <md-whiteframe class="md-whiteframe-z5" flex flex-order="3">
      <a ui-sref="admin.users">
        <h1>Users</h1>
        <md-icon md-font-set="material-icons">users</md-icon>
        {{userCount}}
      </a>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z5" flex flex-order="2">
      <a ui-sref="admin.orders">
        <h1>Orders</h1>
        <md-icon md-font-set="material-icons">shopping_basket</md-icon>
        {{ordersCount}}
      </a>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z5" flex flex-order="1">
      <a ui-sref="productCreate">
        <h1>+ Product</h1>
        <md-icon md-font-set="material-icons">add_shopping_cart</md-icon>
        {{productCount}}
      </a>
    </md-whiteframe>
  </div>
</ui-view>
