{{orderCount.count}}
<section layout="row" layout-align="center center" layout-wrap>
  <md-button class="md-raised md-primary" ng-click="lastweek()">Last Week</md-button> {{start | date:'MMMM dd yyyy'}} - {{end | date:'MMMM dd yyyy'}}
  <md-button class="md-raised md-primary" ng-click="nextweek()">Next Week</md-button>
</section>
<!-- <section layout="row" layout-align="center center" layout-wrap>
  <md-checkbox ng-model="isPresent" aria-label="show upcoming">Show Current Week's Subscriptions Only</md-checkbox>
</section>-->
<section layout="row" layout-align="center center" layout-wrap>
  <md-button class="md-success" ng-repeat="hub in hubs" ng-click="$parent.hubFilter = hub.location">{{hub.title || hub.location}}</md-button>
</section>
<section layout="row" layout-align="center center" layout-wrap>
  <figure ng-repeat="(product, count) in occurences(filteredOrders)" class="text-center">
    <h1 class="md-display-1">{{count}}</h1>
    <figcaption>
      <h3>{{product}}</h3>
    </figcaption>
  </figure>
</section>

<!-- <md-input-container class="md-icon-float">
  <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
  <input ng-model="query" type="search">
</md-input-container> -->

<table class="material-table">
  <thead>
    <tr>
      <td>
        <md-button md-no-ink ng-click="reverse = !reverse">Hub</md-button>
      </td>
      <td>
        <md-button md-no-ink ng-click="predicate='user'; reverse = !reverse">Customer</md-button>
      </td>
      <td>
        <md-button md-no-ink ng-click="predicate='productDetails.name'; reverse = !reverse">Product</md-button>
      </td>
      <td>
        <md-button md-no-ink ng-click="predicate='status'; reverse = !reverse">Status</md-button>
      </td>
      <td>
        <md-button md-no-ink ng-click="predicate='end_date'; reverse = !reverse">End Date</md-button>
      </td>
      <td>Tools</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders | filter:filterByHub |  orderBy:predicate:reverse as filteredOrders track by order._id">
      <td>
        {{user(order).profile.hub.location}}
      </td>
      <td>
        <md-button ui-sref="admin.user({userId: order.user})"
        class="md-primary md-hue-1">
          {{user(order).profile.name}}
        </md-button>
      </td>
      <td>
        {{order.productDetails.name}} x{{order.qty}}
      </td>
      <td>
        {{order.status}}
      </td>
      <td>
        <span ng-show="order.end_date">{{order.end_date | date:'dd/MM/yyyy'}}</span>
        <span ng-show="order.indefinate">Continuous</span>
      </td>
      <td><md-button>tools</md-button></td>
    </tr>
  </tbody>
</table>
