<section layout="row" layout-align="center center" layout-wrap>
  <md-button class="md-raised md-primary" ng-click="orders.lastweek()">Last Week</md-button> {{orders.deliveryDay | calendar}}
  <md-button class="md-raised md-primary" ng-click="orders.nextweek()">Next Week</md-button>
</section>
<!-- <section layout="row" layout-align="center center" layout-wrap>
  <md-checkbox ng-model="isActive" ng-true-value="'active'" ng-false-value="'all'" aria-label="show active">Show Current Week's Subscriptions Only</md-checkbox>
</section>
<section layout="row" layout-align="center center" layout-wrap>
  <md-button class="md-success" ng-repeat="hub in hubs" ng-click="$parent.hubFilter = hub.location">{{hub.title || hub.location}}</md-button>
</section> -->
<section layout layout-align="center start">
  <table class="material-table" flex="70" flex-xs="100">
    <thead>
      <tr>
        <th><md-button md-no-ink ng-click="orders.productTable.sort='product'; orders.productTable.reverse = !orders.productTable.reverse">Product</md-button></th>
        <th><md-button md-no-ink ng-click="orders.productTable.sort='count'; orders.productTable.reverse = !orders.productTable.reverse">Quantity</md-button></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(product, count) in orders.occurences(filteredOrders)"
        ng-click="orders.searchstring = product">
        <td>{{product}}</td>
        <td>{{count}}</td>
      </tr>
    </tbody>
  </table>
</section>

<section layout="row" layout-align="center center" layout-margin>
  <md-list flex="50" md-whiteframe="1dp">
    <md-subheader class="md-no-sticky">Customers</md-subheader>
    <md-list-item class="secondary-button-padding" ng-repeat="(customer, sales) in orders.customers"
    ng-click="orders.searchstring = {customerName: customer}">
      <p>{{customer}}</p>
      <md-icon class="md-secondary"
      ng-if="orders.allCollected(sales)" md-svg-icon="action:ic_done_24px"></md-icon>
      <p class="md-secondary" ng-if="!orders.allCollected(sales)">
        <span class="sorted">{{orders.sortedCount(sales)}}</span> / {{sales.length}}</p>
    </md-list-item>
  </md-list>
  <md-list flex='50' md-whiteframe="1dp">
    <md-subheader class="md-no-sticky">Producers</md-subheader>
    <md-list-item class="secondary-button-padding" ng-repeat="(producer, sales) in orders.producers"
     ng-click="orders.searchstring = {producerName: producer}">
      <p>{{producer}}</p>
      <md-icon class="md-secondary"
      ng-if="orders.allCollected(sales)" md-svg-icon="action:ic_done_24px"></md-icon>
      <p class="md-secondary" ng-if="!orders.allCollected(sales)">
        <span class="sorted">{{orders.sortedCount(sales)}}</span>
        / {{sales.length}}</p>
    </md-list-item>
  </md-list>
</section>

<section layout="column" layout-margin>
  <md-input-container class="md-icon-float">
    <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
    <input ng-model="orders.searchstring" type="search" placeholder="search orders">
  </md-input-container>
  <p class="md-body-2">
    Total Sales: {{orders.total(filteredOrders, true) | currency}}
    Total for Producers: {{orders.total(filteredOrders) | currency}}
    Total co-op revenue: {{orders.total(filteredOrders, true) - orders.total(filteredOrders) | currency}}
  </p>
</section>

<section layout="row" layout-margin>
  <md-select ng-model="orders.status" placeholder="sale status">
    <md-option value="undelivered">Undelivered</md-option>
    <md-option value="delivered">Delivered</md-option>
    <md-option value="sorted">Sorted</md-option>
    <md-option value="collected">Collected</md-option>
    <md-option value="cancelled">Cancelled</md-option>
    <md-option value="refunded">Refunded</md-option>
  </md-select>
  <md-button class="md-primary md-raised" ng-click="orders.bulkChange(orders.status)">Bulk Update Selected Orders</md-button>
  <md-button class="md-raised md-accent" ng-click="orders.selectSales(filteredOrders, ['collected', 'refunded', 'cancelled'])">Select Sales</md-button>
</section>

<table class="material-table">
  <thead>
    <tr>
      <td><md-button md-no-ink ng-click="orders.predicate='status'; orders.reverse = !orders.reverse">Status</md-button></td>
      <td><md-button md-no-ink ng-click="orders.predicate='location'; orders.reverse = !orders.reverse">Location</md-button></td>
      <td>
        <md-button md-no-ink ng-click="orders.predicate='customerName'; orders.reverse = !orders.reverse">Customer</md-button>
      </td>
      <td>
        <md-button md-no-ink ng-click="orders.predicate='productName'; orders.reverse = !orders.reverse">Product</md-button>
      </td>
      <td>
        <md-button md-no-ink ng-click="orders.predicate='producerName'; orders.reverse = !orders.reverse">Producer</md-button>
      </td>
      <td>
        <md-button md-no-ink ng-click="orders.predicate='unitOfMeasure'; orders.reverse = !orders.reverse">Units</md-button>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="
      {
        'cancelled': order.status == 'cancelled',
        'refunded': order.status == 'refunded',
        'collected': order.status == 'collected',
        'sorted': order.status == 'sorted',
        'delivered': order.status == 'delivered',
        'undelivered': order.status == 'undelivered'
      }
    "
      ng-repeat="order in orders.sales |
      filter: orders.searchstring |
      orderBy:orders.predicate:orders.reverse as filteredOrders track by order._id">
      <td>
        <md-checkbox ng-model="order.selected" aria-label="select sale"></md-checkbox>
        {{order.status}}
        <md-menu>
          <md-button md-menu-origin ng-click="$mdMenu.open($event)"
           class="md-icon-button" aria-label="options"><md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon></md-button>
          <md-menu-content>
            <md-menu-item ng-class="{'currentStatus': order.status == 'collected'}" class="collected">
              <md-button ng-click="orders.changeStatus(order, 'collected')">
                <div layout="row">
                  <p flex>Mark as 'Collected'</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'currentStatus': order.status == 'sorted'}" class="sorted">
              <md-button ng-click="orders.changeStatus(order, 'sorted')">
                <div layout="row">
                  <p flex>Mark as 'Sorted'</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'currentStatus': order.status == 'delivered'}" class="delivered">
              <md-button ng-click="orders.changeStatus(order, 'delivered')">
                <div layout="row">
                  <p flex>Mark as 'Delivered'</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'currentStatus': order.status == 'undelivered'}" class="undelivered">
              <md-button ng-click="orders.changeStatus(order, 'undelivered')">
                <div layout="row">
                  <p flex>Mark as 'Undelivered'</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-divider></md-divider>
            <md-menu-item ng-class="{'currentStatus': order.status == 'refunded'}" class="refunded">
              <md-button ng-click="orders.changeStatus(order, 'refunded')">
                <div layout="row">
                  <p flex>Refund Order</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'currentStatus': order.status == 'cancelled'}" class="cancelled">
              <md-button ng-click="orders.changeStatus(order, 'cancelled')">
                <div layout="row">
                  <p flex>Cancel Order (no refunds)</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-divider></md-divider>
            <md-menu-item>
              <md-button ng-click="orders.move(order, -1)">
                <div layout="row">
                  <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
                  <p flex>Move back a week</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="orders.move(order, 1)">
                <div layout="row">
                  <md-icon md-svg-icon="navigation:ic_arrow_forward_24px"></md-icon>
                  <p flex>Move forward a week</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="admin.order({orderId: order._id})">
                <div layout="row">
                  <md-icon md-svg-icon="action:ic_credit_card_24px"></md-icon>
                  <p flex>View Payment Details</p>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </td>
      <td>
        {{order.location}}
        <md-menu>
          <md-button md-menu-origin ng-click="$mdMenu.open($event)"
           class="md-icon-button" aria-label="options"><md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon></md-button>
          <md-menu-content>
            <md-menu-item ng-class="{'currentStatus': order.location == 'off-site'}" class="off-site">
              <md-button ng-click="orders.changeLocation(order, 'off site')">
                <div layout="row">
                  <p flex>Off Site</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'currentStatus': order.location == 'off-site'}" class="storage">
              <md-button ng-click="orders.changeLocation(order, 'storage')">
                <div layout="row">
                  <p flex>Storage</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'currentStatus': order.location == 'off-site'}" class="box">
              <md-button ng-click="orders.changeLocation(order, 'box')">
                <div layout="row">
                  <p flex>Box</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'currentStatus': order.location == 'off-site'}" class="fridge">
              <md-button ng-click="orders.changeLocation(order, 'fridge')">
                <div layout="row">
                  <p flex>Fridge</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'currentStatus': order.location == 'off-site'}" class="freezer">
              <md-button ng-click="orders.changeLocation(order, 'freezer')">
                <div layout="row">
                  <p flex>Freezer</p>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </td>
      <td>
        <md-button ng-click="orders.searchstring = {customerName: order.customerName}">
          {{order.customerName}} #{{order.customerNumber}}
        </md-button>
      </td>
      <td>
        <md-button ng-click="orders.searchstring = {productName: order.productName}">
          x{{order.qty}} {{order.productName}}
        </md-button>
      </td>
      <td>
        <md-button ng-click="orders.searchstring = {producerName: order.producerName}">
          {{order.producerName}} #{{order.producerNumber}}
        </md-button>
      </td>
      <td>
        {{order.unitOfMeasure}}
      </td>
    </tr>
  </tbody>
</table>
