<h1 class="md-headline text-center">All Products</h1>

<section layout="column" layout-align="center center">
  <md-input-container>
    <input type="search" ng-model="search" placeholder="search">
  </md-input-container>
</section>

<md-content layout-xs="column" layout="row" layout-wrap>
  <div flex="25" flex-sm="33" flex-xs="50" ng-repeat="p in products| filter: search track by p._id">
    <product-summary-card product="p" on-update="save(product, modifier)"></product-summary-card>
  </div>

</md-content>

<md-button class="md-warn md-fab md-fab-bottom-right" ui-sref="productCreate">
	<md-icon md-svg-src="content:ic_add_24px"></md-icon>
</md-button>