<md-content layout="row">
  <span flex></span>
  <div flex="75">
    <p> Total Users: <span class="badge">{{userCount}}</span></p>
    <md-list>
      <md-subheader class="md-no-sticky">Whangarei Food Co-op Members</md-subheader>
      <md-list-item>
        <md-button class="md-raised md-accent" ui-sref="admin.createUser">Create New User</md-button>
        <md-button class="md-raised md-accent" ng-click="balance = !balance">
          <span ng-if="!balance">Show producers who need paying</span>
          <span ng-if="balance">Show All</span>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-input-container>
          <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
          <input type="text" placeholder="search" ng-model="searchstring">
        </md-input-container>
        <md-input-container>
          <md-icon md-svg-icon="content:ic_sort_24px"></md-icon>
          <md-select style="margin-left:36px" placeholder="sort by" aria-label="Sort Ascending or Descending" ng-model="sort">
            <md-option ng-value="{createdAt: -1}">Newest</md-option>
            <md-option ng-value="{createdAt: 1}">Oldest</md-option>
            <md-option ng-value="{'profile.name': 1}">Name</md-option>
          </md-select>
        </md-input-container>

      </md-list-item>
      <md-virtual-repeat-container id="user-container" flex>
        <div md-virtual-repeat="u in users" class="md-whiteframe-2dp repeat-user">
          <md-menu md-offset="25 0">
            <md-list-item class="md-3-line" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="action:ic_account_circle_24px"></md-icon>

              <div class="md-list-item-text" md-menu-origin>
                <h3>{{u.profile.name}} <small>#{{u.profile.customerNumber}}</small> <span ng-if="balance">{{u.profile.balance | currency}}</span></h3>
                <p>
                  <span ng-if="!balance">{{u.profile.deliveryAddress.formatted_address || u.profile.deliveryAddress.formattedAddress || 'no address on record'}}</span>
                  <span ng-if="balance">{{u.profile.bankAccount || "no bank account on record"}}</span>
                </p>
                <p>Joined: {{ u.createdAt | calendar }} {{u.roles}}</p>
              </div>
            </md-list-item>
            <md-menu-content width="6">
              <md-menu-item ng-if="balance">
                <md-button ng-click="zeroBalance(u._id, u.profile.balance)">
                  <div layout="row">
                    <md-icon md-menu-align-target md-svg-icon="editor:ic_attach_money_24px" ></md-icon>
                    <p flex>Mark Payment of {{u.profile.balance | currency}}</p>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-href="tel:{{u.profile.phone}}">
                  <div layout="row">
                    <md-icon md-menu-align-target md-svg-icon="communication:ic_call_24px"></md-icon>
                    <p flex>{{u.profile.phone || 'no number on record'}}</p>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-href="mailto:{{u.emails[0].address}}">
                  <div layout="row">
                    <md-icon md-menu-align-target md-svg-icon="communication:ic_email_24px"></md-icon>
                    <p flex>{{u.emails[0].address}}</p>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ui-sref="admin.userOrder({userId: u._id})">
                  <div layout="row">
                    <md-icon md-menu-align-target md-svg-icon="editor:ic_attach_money_24px" ></md-icon>
                    <p flex>Order History</p>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ui-sref="admin.user({userId: u._id})">
                  <div layout="row">
                    <md-icon md-menu-align-target md-svg-icon="editor:ic_mode_edit_24px" ></md-icon>
                    <p flex>edit me</p>
                  </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-virtual-repeat-container>
    </md-list>

  </div>
  <span flex></span>
</md-content>
