
<md-content layout="row" layout-sm="column">
<span flex="20" hide-sm></span>
<div flex>
  <md-button ui-sref="admin.users">Back To User List</md-button>
  <h2 ng-if="user._id">Editing {{user.profile.name}} #{{user.profile.customerNumber}}</h2>

  <form name="editUser" layout="column" ng-submit="validate('editUser.$isValid')">

    <md-input-container>
      <md-icon md-svg-icon="social:ic_person_24px" class="md-accent" aria-label="user name"></md-icon>
      <input type="text" ng-model="user.profile.name"
             placeholder="name" aria-label="name"/>
    </md-input-container>

    <md-input-container>
      <md-icon md-svg-icon="communication:ic_chat_24px" class="md-accent" aria-label="phone number"></md-icon>
      <input type="text" ng-model="user.profile.phone"
             placeholder="phone" aria-label="phone"/>
    </md-input-container>
<!--
    <md-input-container>
      <md-icon md-svg-icon="maps:ic_place_24px" class="md-accent" aria-label="address"></md-icon>
      <input type="text" ng-model="user.profile.address"
             placeholder="home address" aria-label="address"/>
    </md-input-container> -->

    <md-input-container>
      <md-icon md-svg-icon="maps:ic_local_shipping_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="currentUser.profile.deliveryAddress"
        g-places-autocomplete
        placeholder="wholesale delivery address" aria-label="delivery address"/>
    </md-input-container>

    <md-checkbox ng-model="producer" aria-label="producer role">
        Is {{user.profile.name}} a producer?
    </md-checkbox>

    <md-button type="submit">Save</md-button>

  </form>
</div>
<span flex="20" hide-sm></span>
</md-content>
