
<md-content layout="row" layout-xs="column" layout-padding layout-margin layout-fill>
<div flex="33" ng-controller="TransactionCtrl as tr">
  <p>Balance: {{$ctrl.user.profile.balance | currency}}</p>
  <form name="transactUser" layout="column" ng-submit="tr.transact(tr.amount)">
    <md-input-container>
      <md-icon md-svg-icon="action:ic_credit_card_24px" class="md-accent" aria-label="amount"></md-icon>
      <input type="number" ng-model="tr.amount" step="0.01"
             placeholder="amount (positive for credit, negative for debit)" aria-label="amount"/>
    </md-input-container>
    <md-button type="submit">Adjust Balance</md-button>

  </form>

</div>
<div flex>
  <md-button ui-sref="admin.users">Back To User List</md-button>
  <h2 ng-if="$ctrl.user._id">Editing {{$ctrl.user.profile.name}} #{{$ctrl.user.profile.customerNumber}}</h2>

  <form name="editUser" layout="column" ng-submit="$ctrl.validate(editUser.$valid)">

    <md-input-container>
      <md-icon md-svg-icon="social:ic_person_24px" class="md-accent" aria-label="user name"></md-icon>
      <input type="text" ng-model="$ctrl.user.profile.name"
             placeholder="name" aria-label="name"/>
    </md-input-container>

    <md-input-container>
      <md-icon md-svg-icon="communication:ic_email_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="$ctrl.email"
             placeholder="email address" aria-label="name"/>
    </md-input-container>

    <p ng-if="$ctrl.user.services.facebook.id">Signed up through Facebook <span ng-if="$ctrl.user.services.facebook.email">email: {{$ctrl.user.services.facebook.email}}</span></p>


    <md-input-container>
      <md-icon md-svg-icon="communication:ic_chat_24px" class="md-accent" aria-label="phone number"></md-icon>
      <input type="text" ng-model="$ctrl.user.profile.phone"
             placeholder="phone" aria-label="phone"/>
    </md-input-container>
<!--
    <md-input-container>
      <md-icon md-svg-icon="maps:ic_place_24px" class="md-accent" aria-label="address"></md-icon>
      <input type="text" ng-model="$ctrl.user.profile.address"
             placeholder="home address" aria-label="address"/>
    </md-input-container> -->
    <p ng-if="$ctrl.user.profile.deliveryAddress.formattedAddress">Formatted Address from import: {{$ctrl.user.profile.deliveryAddress.formattedAddress}}</p>
    <md-input-container>
      <md-icon md-svg-icon="maps:ic_local_shipping_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="$ctrl.user.profile.deliveryAddress"
        g-places-autocomplete
        placeholder="delivery address" aria-label="delivery address"/>
    </md-input-container>

    <md-input-container>
      <md-icon md-svg-icon="action:ic_assignment_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="$ctrl.user.profile.gst"
        placeholder="GST Number (if registered)"/>
    </md-input-container>

    <md-input-container>
      <md-icon md-svg-icon="action:ic_assignment_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="$ctrl.user.profile.bankAccount"
        placeholder="bank Account Number (for sales)"/>
    </md-input-container>

    <md-checkbox ng-model="$ctrl.producer" ng-change="$ctrl.changeRole()" aria-label="producer role">
        Is {{$ctrl.user.profile.name}} a producer?
    </md-checkbox>

    <md-input-container>
      <md-icon md-svg-icon="action:ic_assignment_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="$ctrl.user.profile.companyName"
        placeholder="Company Name -- producers only"/>
    </md-input-container>

    <md-button type="submit">Save</md-button>

  </form>
</div>
</md-content>
