<div layout="column">
  <div layout="column">
    <md-tabs class="md-primary" md-selected="store.selectedCategory">
      <md-tab label="All" md-on-select="store.query.category = undefined; store.limit=24;"></md-tab>
      <md-tab ng-repeat="c in store.categories" label="{{::c.name}}" md-on-select="store.query.category=c.name; store.limit=48;"></md-tab>
    </md-tabs>
    <md-toolbar class="md-menu-toolbar">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center" layout-wrap>
        <md-input-container md-no-float class="md-icon-float md-block">
          <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
          <input placeholder="search" type="search" ng-model="store.query.filter" ng-model-options="{ updateOn: 'default blur', debounce: { default: 250, blur: 0 } }">
        </md-input-container>
        <div layout="row" layout-align="center center" ng-if="store.producer">
          <md-button class="md-icon-button" ui-sref="store({producer: undefined})">
            <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
          </md-button>
          <h1 class="md-headline">
            {{store.producer.profile.companyName || store.producer.profile.name}}
          </h1>
        </div>
        <div layout>
          <md-menu-bar>
            <md-menu>
              <button ng-click="$mdOpenMenu()">
                Sorted by {{ store.sortName }}
              </button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = {'dateCreated':-1}; store.sortName = 'Newest' ">
                    Newest
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = {'last_modified':-1}; store.sortName = 'Recently Changed' ">
                    Recently Changed
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = {'name':1}; store.sortName = 'Alphabetical'">
                    Alphabetical
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = {'price': 1}; store.sortName = 'Lowest Price' ">
                    Price lowest-highest
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = {'price': -1}; store.sortName = 'Highest Price'">
                    Price highest-lowest
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = ['producerCompanyName', 'producerName', 'name']; store.sortName = 'Producer'">
                    Producer
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>

      		<md-button class="md-icon-button" ng-class="{'md-warn': store.query.favourites}" ng-click="store.query.favourites = !store.query.favourites" aria-label="Show My Favourites">
      			<md-icon md-svg-icon="action:ic_favorite_24px"></md-icon>
      		</md-button>
      		<md-button class="md-icon-button" ng-class="{'md-primary': store.query.lastOrder}" ng-click="store.query.lastOrder = !store.query.lastOrder" aria-label="Show My Last Order">
      			<md-icon md-svg-icon="action:ic_schedule_24px"></md-icon>
      		</md-button>
        <div>

      </div>
    </md-toolbar>
  </div>

  <product-cards query="store.query" options="store.options"></product-cards>

</div>
