<div layout="column">
  <div layout="column" style="position: relative">
    <md-tabs class="md-primary" md-selected="store.selectedCategory">
      <md-tab label="All" md-on-select="store.query.category = undefined; store.limit=24;"></md-tab>
      <md-tab ng-repeat="c in store.categories" label="{{::c.name}}" md-on-select="store.query.category=c.name; store.limit=48;"></md-tab>
    </md-tabs>
    <md-toolbar class="md-menu-toolbar">
      <div class="md-toolbar-tools">
        <md-input-container md-no-float class="md-icon-float md-block">
          <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
          <input placeholder="search" type="search" ng-model="store.query.filter" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }">
        </md-input-container>
        <div layout="row" layout-align="center center" ng-if="store.producer">
          <md-button class="md-icon-button" ui-sref="store({producer: undefined})">
            <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
          </md-button>
          <h1 class="md-headline">
            {{store.producer.profile.companyName || store.producer.profile.name}}
          </h1>
        </div>
        <div layout>
          <md-menu-bar hide-xs>
            <md-menu>
              <button ng-click="$mdOpenMenu()">
                {{ store.sortName }}
              </button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = {'last_modified':-1}; store.sortName = 'Recently Changed' ">
                    Recent
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = {'name':1}; store.sortName = 'Alphabetical'">
                    A-Z
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = {'price': 1}; store.sortName = 'Lowest Price' ">
                    Price lowest-highest
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = {'price': -1}; store.sortName = 'Highest Price'">
                    Price highest-lowest
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="store.options.sort = ['producerCompanyName', 'producerName', 'name', 'unitOfMeasure']; store.sortName = 'Producer'">
                    Producer
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>

      		<md-button class="md-icon-button" ng-class="{'md-warn': store.query.favourites}" ng-click="store.query.favourites = !store.query.favourites" aria-label="Show My Favourites">
      			<md-icon md-svg-icon="action:ic_favorite_24px"></md-icon>
      		</md-button>
      		<md-button class="md-icon-button" ng-class="{'md-primary': store.query.lastOrder}" ng-click="store.query.lastOrder = !store.query.lastOrder" aria-label="Show My Last Order">
      			<md-icon md-svg-icon="action:ic_schedule_24px"></md-icon>
      		</md-button>
        </div>
      </div>
    </md-toolbar>
    <md-button
      ui-sref="productCreate"
      aria-label="create product"
      ng-show="$root.currentUser && $root.hasRole(currentUserId, 'producer')"
      class="md-fab md-warn"
      style="position: absolute; left: auto; right: 8px; top: 60px;"
    >
      <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
    </md-button>
  </div>
  <div layout ng-if="store.holidays" layout-align="center center">
    <div class="text-center" flex="50" flex-sm="80" flex-xs="95">
      <h1 class="md-display-1">We are closed for maintenance...</h1>
      <p class="md-title">
        We are under new management and things are getting better and better.
        </p>

      <p class="md-subhead">
          If you have any questions please contact us in the chat box or contact form. If you can no longer be involved you can request a refund of store credit or your membership.
      </p>
      <br>
      <h2 class="md-title">First time here?</h2>
      <md-button ui-sref="about" class="md-raised md-primary">Our Mission</md-button>
    </div>
  </div>


  <!-- <product-cards ng-if="!store.holidays" query="store.query" options="store.options"></product-cards> -->

</div>
