<form id="checkout"  ng-submit="ch.checkout(checkoutForm.$valid)" name="checkoutForm">
  <md-input-container>
    <input placeholder="Card Holder Name" type="text" ng-model="ch.card.name" maxlength="50">
  </md-input-container>
  <md-input-container>
    <input placeholder="Card Number" type="text" cc-number cc-format ng-model="ch.card.cardNumber">
  </md-input-container>
  <div layout="row" cc-exp>
    <md-input-container flex>
      <input cc-exp-month ng-model="ch.card.month" type="text" label="MM">
    </md-input-container>
    <span>/</span>
    <md-input-container flex>
      <input cc-exp-year ng-model="ch.card.year" type="text" label="YY">
    </md-input-container>
  </div>
  <md-input-container>
    <input placeholder="CVC" type="text" cc-cvc ng-model="ch.card.cvc">
  </md-input-container>
  <div id="payment-form"></div>
  <md-button type="submit" class="md-warn md-raised">Process Payment of {{total | currency}}</md-button>
</form>
<script src="https://secure.ewaypayments.com/scripts/eCrypt.js"></script>