<section layout="row">
  <span flex></span>
    <md-content flex="70" flex-xs="90" layout-margin>
      <md-list>
        <md-subheader class="md-no-sticky">Whangarei Food Co-op Producers</md-subheader>
        <md-list-item layout="row">
          <md-input-container flex>
            <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
            <input type="text" placeholder="search" ng-model="dir.searchstring">
          </md-input-container>
          <!-- <md-input-container flex>
            <md-icon md-svg-icon="social:ic_location_city_24px"></md-icon>
            <md-select style="margin-bottom:24px" placeholder="Filter by Town" aria-label="Search by town" ng-model="dir.townSearch">
              <md-option ng-value="">All</md-option>
              <md-option ng-value="town.value" ng-repeat="town in dir.towns">{{town.label}}</md-option>
            </md-select>
          </md-input-container> -->
          <md-input-container flex>
            <md-select style="margin-bottom:24px" placeholder="sort by" aria-label="Sort Ascending or Descending" ng-model="dir.sort">
              <md-option ng-value="{createdAt: -1}">Newest</md-option>
              <md-option ng-value="{createdAt: 1}">Oldest</md-option>
              <md-option ng-value="{'profile.companyName': 1, 'profile.name': 1}">Alphabetical</md-option>
            </md-select>
          </md-input-container>
        </md-list-item>
        <md-list-item ng-repeat="u in dir.producers | filter:dir.searchstring track by u._id" class="md-3-line md-whiteframe-1dp" ui-sref="producer({producerId: u._id})">
          <multi-avatar user="u" width="40" class="md-avatar"></multi-avatar>
          <div class="md-list-item-text" md-menu-origin>
            <h3>{{u.profile.companyName || u.profile.name}}</h3>
            <p>{{u.profile.deliveryAddress.formatted_address || u.profile.deliveryAddress.formattedAddress}}</p>
            <p>Member since {{ u.createdAt | date:'mediumDate' }}</p>
          </div>
          <like-heart ng-click="null" class="md-secondary" target-id="u._id" category="producer" like-text="Clap clap! Thanks for endorsing {{u.profile.name}}" unlike-text="you are no longer endorsing this producer" aria-label="like producer"></like-heart>
        </md-list-item>
      </md-list>
    </md-content>


  <span flex></span>

</section>
