<div layout-fill flex>
<ui-gmap-google-map
center="$ctrl.mapSettings.center"
zoom="$ctrl.mapSettings.zoom"
options="$ctrl.mapSettings.options"
events="$ctrl.mapSettings.events">
  <ui-gmap-marker ng-if="$ctrl.markerSettings"
  idKey="$ctrl.markerSettings.id"
  coords="$ctrl.markerSettings.coords"
  options="$ctrl.markerSettings.options"
  >
    <ui-gmap-window show="true">
      <div class="gmap-window">
        <p><strong>{{$ctrl.event.title}}</strong></p>
        <p>{{$ctrl.event.venue.formatted_address}}</p>
        <p><strong>{{$ctrl.event.date | date:'d/MM/yy h:mm a'}}</strong></p>
      </div>
    </ui-gmap-window>
  </ui-gmap-marker>
</ui-gmap-google-map>
</div>