<md-dialog aria-label="Select Payment Method">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <h2><span ng-if="!$ctrl.braintree">Select Payment Method</span><span ng-if="$ctrl.braintree">Total: {{$ctrl.total | currency}}</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:500px;max-height:510px;">
      <div class="md-dialog-content">
        <p class="md-body-2" ng-if="$ctrl.errorMessage">{{$ctrl.errorMessage}}</p>
        <section layout="column" layout-align="center center" layout-margin ng-if="!$ctrl.braintree">
          <div>
            <fc-balance-payment total="$ctrl.total" on-success="$ctrl.success()" on-error="$ctrl.error(error)"></fc-balance-payment>
          </div>
          <div>
            <md-button class="md-warn md-raised" ng-click="$ctrl.braintree = true; $ctrl.errorMessage = undefined;">Credit Card or Paypal</md-button>
          </div>
        </section>
        <card-payment ng-if="$ctrl.braintree" on-error="$ctrl.error(error)" on-success="$ctrl.success()"></card-payment>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>