<md-dialog aria-label="Select Payment Method">
  <span ng-if="$ctrl.errorMessage">{{$ctrl.errorMessage}}</span>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <h2><span>Total: {{$ctrl.total | currency}}</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:500px;max-height:510px;">
      <div class="md-dialog-content">
        <p class="md-body-2" ng-if="$ctrl.errorMessage">{{$ctrl.errorMessage}}</p>
        <section layout="column" layout-align="center center" layout-margin>
          <div>
            <fc-balance-payment customer-id="$ctrl.customer._id" delivery="$ctrl.delivery" status="undelivered" on-success="$ctrl.success()" on-error="$ctrl.error(error)"></fc-balance-payment>
          </div>
          <div>
            <braintree-payment is-valid="$ctrl.total" on-error="$ctrl.error(error)" on-success="$ctrl.success(data)"></braintree-payment>
          </div>
        </section>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
