<section class="producer-banner-products">
	<div layout="row" layout-align="center center"> <!-- Put background image and extra padding here -->
		<span flex></span>
		<md-card flex="80" flex-xs="90" class="md-primary" style="position: relative">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{$ctrl.producer.profile.companyName || $ctrl.producer.profile.name}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row">
				<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left-contacts" md-is-locked-open="$mdMedia('gt-md')">
					<md-toolbar hide-gt-md layout="row">
						<h1 class="md-toolbar-tools">Contact Details</h1>
					  <md-button ng-click="toggleLeft()" aria-label="toggle contact details"
							class="md-icon-button">
							<md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
						</md-button>
					</md-toolbar>
					<md-content>
						<md-list flex="noshrink">
			        <md-list-item ui-sref="producer({userId:$ctrl.producerId})">
			          <md-icon md-svg-icon="action:ic_account_box_24px"></md-icon>
			          <p> View Profile </p>
			        </md-list-item>
              <md-list-item ng-href="tel:{{producer.profile.phone}}">
			          <md-icon md-svg-icon="communication:ic_phone_24px"></md-icon>
			          <p> {{$ctrl.producer.profile.phone}} </p>
			        </md-list-item>
			        <md-list-item ng-href="mailto:{{producer.emails[0].address}}">
			          <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
			          <p> {{$ctrl.producer.emails[0].address}} </p>
			        </md-list-item>
			        <md-list-item ui-sref="directory">
			          <md-icon md-svg-icon="social:ic_public_24px"></md-icon>
			          <p> {{$ctrl.producer.profile.website}} </p>
			        </md-list-item>
						</md-list>
					</md-content>
				</md-sidenav>
				<section flex layout="column" layout-align="center center" layout-margin>
					<div class="md" ng-bind-html="$ctrl.producer.profile.summary | md"></div>
				  <md-button ng-click="$ctrl.toggleLeft()"
						hide-gt-md>
						Contact Details
					</md-button>
					<md-button ui-sref="store({producer:$ctrl.producerId})">See our Full Range of Products</md-button>
				</section>

			</md-card-content>
		</md-card>
		<span flex></span>
  </div>
</section>
<style parseStyle>
  .producer-banner-products {
    background-image: url(https://res.cloudinary.com/foodcoop/image/upload/c_fill,f_auto,g_center,w_1920/{{ $ctrl.producer.profile.banner.result ||'GREEN_bwdprc'}}.jpg);
  }

  @media only screen and (max-width: 1280px) {
    .producer-banner-products {
      background-image: url(https://res.cloudinary.com/foodcoop/image/upload/c_fill,f_auto,g_center,w_1280/{{ $ctrl.producer.profile.banner.result ||'GREEN_bwdprc'}}.jpg);
    }
  }

  @media only screen and (max-width: 960px) {
    .producer-banner-products {
      background-image: url(https://res.cloudinary.com/foodcoop/image/upload/c_fill,f_auto,g_center,w_960/{{ $ctrl.producer.profile.banner.result ||'GREEN_bwdprc'}}.jpg);
    }
  }

  @media only screen and (max-width: 600px) {
    .producer-banner-products {
      background-image: url(https://res.cloudinary.com/foodcoop/image/upload/c_fill,f_auto,g_center,w_600/{{ $ctrl.producer.profile.banner.result || 'GREEN_bwdprc'}}.jpg);
    }
  }


</style>
