<md-content layout="column" layout-align="center center" layout-margin layout-padding>
  <article class="md-whiteframe-3dp content-box" layout flex="90" flex-gt-xs="70" layout-margin layout-align="center center">
    <div flex="33" hide-xs>
      <cl-image public-id="brand/organicproduce" class="img-circle img-responsive" alt="organic vegetables">
        <cl-transformation height="400" width="400" crop="fill" gravity="center"></cl-transformation>
      </cl-image>
    </div>
    <div flex>
      <h1 class="md-display-1">We make it easy to buy and sell local food online.</h1>
      <p>Producers upload their products to our online store, and we market them to customers in Kaikohe. With all that food gathered in one convenient location, it’s easy for our customers to shop online. And we’re there every step of the way, providing the tools necessary for successful transactions. We maintain the infrastructure. We sort and deliver the food. And we care about you.</p>
      <p>That’s why we’re also active in the wider community, promoting healthy eating and sustainable agriculture through our presentations, education initiatives and special events. We support other local food initiatives, and encourage these groups to join us in building a positive future.</p>
      <div layout layout-align="center">
        <md-button ui-sref="customer-benefits" class="md-raised md-primary">Customer Info</md-button>
        <md-button ui-sref="producer-benefits" class="md-raised md-primary">Producer Info</md-button>
      </div>
    </div>
  </article>
  <article flex="90" flex-gt-xs="70" layout class="md-whiteframe-3dp content-box" layout-margin layout-align="center center">
    <div flex="33" hide-xs>	
      <cl-image public-id="brand/happy-farmers-market" class="img-circle img-responsive" alt="organic vegetables">
        <cl-transformation height="400" width="400" crop="fill" gravity="face"></cl-transformation>
      </cl-image>
    </div>
    <div flex>
      <h1 class="md-display-1" id="title2">We believe buying local food should be easy.</h1>
      <p>We want to create a community in which most of the food eaten locally is also produced locally. In such a community, producers wouldn’t have to compete with supermarket prices, and families wouldn’t struggle to afford fresh food. Farmers would be paid fairly. Customers could be sure their food was produced in a humane and eco-friendly way. And all the while, money would be earned and spent in Northland, generating a vibrant and stable local economy.</p>
      <p>The Kai Kohekohe Food Co-op is part of a growing global movement which aims to localize food for the well-being of communities and the planet as a whole. By creating our online marketplace, we hope to bring this vision for the future into the present day.</p>
      <div layout layout-align="center">
        <md-button ui-sref="customer-benefits" class="md-raised md-primary">Why be a Customer?</md-button>
        <md-button ui-sref="producer-benefits" class="md-raised md-primary">Why be a Producer?</md-button>
      </div>
    </div>
  </article>
</md-content>
