<md-list>
	<md-list-item
		class="fadeInLeft animated"
	  style="animation-delay: 400ms"
	>
		<md-icon class="md-primary" md-svg-icon="maps:ic_place_24px"></md-icon>
		<p>50 John Street, CBD Whangarei</p>
	</md-list-item>
	<md-list-item
		class="fadeInLeft animated"
	  style="animation-delay: 440ms"
	>
		<md-icon class="md-primary" md-svg-icon="action:ic_schedule_24px"></md-icon>
		<p>Saturdays 10am-2pm</p>
	</md-list-item>
	<md-list-item href="tel:+64210409066"
		class="fadeInLeft animated"
		style="animation-delay: 400ms"
	>
		<md-icon class="md-primary" md-svg-icon="communication:ic_phone_24px"></md-icon>
		<p>021 040 9066</p>
	</md-list-item>
</md-list>
