<md-content layout="column">
<div layout="row" layout-padding layout-margin>
  <span flex></span>
    <div flex="40">
			<ng-include src="'client/static/views/contact-list.ng.html'"></ng-include>
		</div>
  <form id="contactForm" name="contactForm" layout="column" flex="40" class="md-whiteframe-4dp" flex-xs="90">
    <legend class="md-headline">Contact Us with this form</legend>
    <div ng-show="msg.error" class="md-warn">
      <small>{{ msg.error }}</small>
    </div>
    <md-input-container>
      <md-icon md-svg-icon="content:ic_mail_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="msg.content.email" name="email" required
             placeholder="email" aria-label="email"/>
      <div ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched">
        <div ng-message="required">An email address is required.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <md-icon md-svg-icon="social:ic_person_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="msg.content.name" name="name" required
             placeholder="name" aria-label="name"/>
      <div ng-messages="contactForm.name.$error" ng-if="contactForm.name.$touched">
        <div ng-message="required">Please tell us your name.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <md-icon md-svg-icon="action:ic_label_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="msg.content.subject" name="subject" required
      placeholder="Subject" aria-label="password"/>
      <div ng-messages="contactForm.subject.$error" ng-if="contactForm.subject.$touched">
        <div ng-message="required">Subject lines are important.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <md-icon md-svg-icon="communication:ic_call_24px" class="md-accent"></md-icon>
      <input type="text" ng-model="msg.content.phone" placeholder="phone" aria-label="phone"/>
    </md-input-container>
    <md-input-container>
      <md-icon md-svg-icon="communication:ic_chat_24px" class="md-accent"></md-icon>
      <textarea type="text" ng-model="msg.content.body" required
             placeholder="Message Body" aria-label="address"></textarea>
    </md-input-container>
    <md-button class="md-raised md-primary" ng-disabled="contactForm.$invalid || msg.disabled"
    ng-click="msg.send()">
      <md-icon md-svg-icon="content:ic_send_24px"></md-icon> Send
    </md-button>
  </form>
  <span flex></span>
</div>
<div layout="column" layout-align="center center">
  <h1 class="md-headline">Other ways to get in touch with us</h1>
</div>
<div layout="row" layout-align="center center" layout-wrap>
  <div flex="20" flex-sm="40" flex-xs="50" 
  class="md-whiteframe-1dp contact-box md-primary" layout="column" layout-align="center center"
  layout-padding layout-margin>
    <h1 class="md-display-3">
      <md-icon md-svg-icon="communication:ic_call_24px"></md-icon>
    </h1>
    <p>021 040 9066</p>
  </div>
  <div flex="20" flex-sm="40" flex-xs="50" 
  class="md-whiteframe-1dp contact-box md-primary" layout="column" layout-align="center center"
  layout-padding layout-margin>
    <h1 class="md-display-3">
      <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
    </h1>
    <p>kaikohe.cooperative@gmail.com</p>
  </div>
  <div flex="20" flex-sm="40" flex-xs="50" 
  class="md-whiteframe-1dp contact-box md-primary" layout="column" layout-align="center center"
  layout-padding layout-margin>
    <h1 class="md-display-3">
      <md-icon md-svg-icon="maps:ic_place_24px"></md-icon>
    </h1>
    <p>Kaikohe Night Market</p>
  </div>
  <div flex="20" flex-sm="40" flex-xs="50" 
  class="md-whiteframe-1dp contact-box md-primary" layout="column" layout-align="center center" 
  layout-padding layout-margin>
    <h1 class="md-display-3">
      <md-icon md-svg-src="/f_icon.svg"></md-icon>
    </h1>
    <p>facebook.com/kai-kohekohe-foodcoop</p>
  </div>
</div>
</md-content>
