<div layout>
  <span flex></span>
<md-content flex-xs="90" flex-gt-xs="60">
  <h1 class="text-center md-headline">Co-op Customer Benefits</h1>
  <article>
    <h3 class="md-title">Shop at your convenience, collect your order and don't pay for delivery</h3>
    <p>You can shop in our online store at any time. But rather than shipping you a box of your order, we have a weekly pick up point at the Kaikohe Night Market.</p>
    
    <h3 class="md-title">Pick Up, Don't Pay for Delivery</h3>
    <p>Your order will be available for collection on Thursdays at the Kaikohe Night Market. We're in the parking lot by the Kaikohe Library. When you pick up, delivery costs aren't added to our prices, passing the savings directly to you.</p>
    
    <h4 class="md-title">Alternate Pickup Locations</h4>
    <p>If picking up at the Kaikohe Night Market is not convenient for you, just <a href="/contact">let us know</a>. We'll arrange for a member near you to collect your order, and bring it to your neighbourhood for you to pick up. All at no extra cost.</p>
    <p>If there are no other members near you, your order can also be delivered by courier. Just  <a href="/contact">ask us</a> about courier delivery. We'll invoice you for the courier cost, which varies based on the size of your order and where you live.</p>
    
    <h3 class="md-title">Know What’s In Your Food, Where It Came From, And How It Was Grown</h3>
    <p> All our food is GE free, free-range and made or grown in Northland. Produce is always spray-free, and many of our growers are completely organic. If a producer is certified organic, an organic certification badge appears on their products.</p>
    <p>When producers join us, they declare any and all chemicals they use. Our standards committee then decides whether or not to bring them onboard. We have never approved someone using synthetic pesticides.</p>
    <p>Producers have a <a ui-sref="directory" target="_blank">profile page</a> where they share their production methods and stories.</p> 
    
   <h3 class="md-title">Be Part Of Our Vibrant Community Of Food Lovers And Growers</h3>
   <p>You can call or email our producers directly to learn more  about their products. You can also share tips, ideas and suggestions on our message board. After signing up you'll receive regular email reminders and updates about what we're up to.</p>
    
    <md-button ui-sref="register" class="md-raised md-primary">Sign up</md-button>
  </article>
</md-content>

  <span flex></span>
</div>
  
  