<div layout="row">
  <span flex></span>
<md-content flex="50" flex-sm="75" flex-xs="95" layout="column" layout-align="center" layout-padding layout-margin>
  <h1 class="md-headline">Kai Kohekohe Food Co-op FAQ</h1>
  <div layout="row" layout-align="space-around center" class="md-whiteframe-1dp">
    <h2 class="md-title">Goat Questions? We goat answers</h2>
    <cl-image public-id="brand/funny-goat-with-glasses" class="img-circle img-responsive" alt="organic vegetables">
      <cl-transformation height="200" width="200" crop="fit" gravity="center"></cl-transformation>
    </cl-image>
  </div>
  <div class="md-whiteframe-1dp">
    <h1 class="md-title" id="how-do-i-join">How do I Join?</h1>

    <p>You can sign up as a Producer or Customer member <a ui-sref="register">here</a>. Both customers and producers can shop but only an approved producer can sell. If you sign up with Facebook, you will not need a password on your account but we would appreciate you providing your phone number and address anyways. Your address is required for registering you as a shareholder (so you can earn dividends and vote).</p>

    <p>Please note that if you want to become a Producer Member, you will need to fill out a producer application form, which will be reviewed before your producer status is granted. You may shop in the store as normal while awaiting the approval of your application. Approval usually takes less than 24 hours.</p>
  </div>
  <div  class="md-whiteframe-1dp">
    <h1 class="md-title" id="how-do-i-upload-my-products">How do I upload my products?</h1>

		<p>You can upload products any time. Click the button below to be taken to the product upload page (note this page is only accessible by approved producers who are logged in).</p>
    
    <md-button ui-sref="productCreate">Upload Product</md-button>
    
    <p>Once a product is uploaded it will stay in the store until you hide it. You can quickly hide a product from your Products page or when editing a product in the store. Once hidden, you can re-publish a product from the product edit screen. Click the buttons below to find a product to edit.</p> 
    
    <div layout="row" layout-align="space-around">
      <md-button ui-sref="myProducts">Your Products</md-button>
      <md-button ui-sref="store">Store</md-button>
    </div>
    
    <p>Please note that changing a product will not modify a product in someone's shopping cart or a record of your product in someone's past order.</p>
  </div>
  <div  class="md-whiteframe-1dp">
    <h1 class="md-title" id="how-do-i-join">When do I get my order?</h1>

    <p>You can shop any time: morning, evening or night. However, any items you checkout from Friday to Tuesday will not be processed for another week. Our producers need time to gather and prepare your orders so they can be as fresh as possible. To achieve this we cut off orders for Tuessday's delivery day the previous Thursday night.</p>
  </div>
  <div  class="md-whiteframe-1dp">
    <h1 class="md-title" id="how-do-i-join">Where do I send the goods ordered from me?</h1>
    <p>Producers should bring the goods their customers have ordered to the Kaikohe Night Market, our sorting space in Central Kaikohe.</p>

    <p>All goods need to be dropped off by 4:00 p.m. on Thursday.</p>
    <h2>Don't want to deliver?</h2>
    <p>If your goods have a stable shelf life, we can stock them for you. Goods stocked this way are sold on commission.
    </p>
  </div>
  
  <div  class="md-whiteframe-1dp">
    <h3 class="md-title">Have a question not answered here?</h3>
    <md-button ui-sref="contact" class="md-primary">
      Contact Us
    </md-button>
  </div>

</md-content>
<span flex></span>
</div>

