<div layout-gt-sm="row" layout-padding layout-margin>
  <span flex hide-xs></span>
  <md-card flex-gt-sm="60" flex-sm="100" flex-xs="100">
    <md-card-content>
      <form name="contactForm" layout="column" ng-submit="requestForm.send()">
        <legend class="md-headline">Want us to stock something not in the store? Send us a message about it.</legend>
        <div ng-show="requestForm.error" class="md-warn">
          <small>{{ requestForm.error }}</small>
        </div>
        <md-input-container>
          <md-icon md-svg-icon="content:ic_mail_24px" class="md-accent"></md-icon>
          <input type="text" ng-model="requestForm.content.email" name="email" required
                 placeholder="email" aria-label="email"/>
          <div ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched">
            <div ng-message="required">An email address is required.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <md-icon md-svg-icon="social:ic_person_24px" class="md-accent"></md-icon>
          <input type="text" ng-model="requestForm.content.name" name="name" required
                 placeholder="name" aria-label="name"/>
          <div ng-messages="contactForm.name.$error" ng-if="contactForm.name.$touched">
            <div ng-message="required">Please tell us your name.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <md-icon md-svg-icon="action:ic_label_24px" class="md-accent"></md-icon>
          <input type="text" ng-model="requestForm.content.subject" name="subject" required
          placeholder="Product name" aria-label="password"/>
          <div ng-messages="contactForm.subject.$error" ng-if="contactForm.subject.$touched">
            <div ng-message="required">Subject lines are important.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <md-icon md-svg-icon="communication:ic_chat_24px" class="md-accent"></md-icon>
          <textarea type="text" ng-model="requestForm.content.body" required
                 placeholder="More about the products" aria-label="address"></textarea>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="contactForm.$invalid || requestForm.disabled">
          <md-icon md-svg-icon="content:ic_send_24px"></md-icon> Send
        </md-button>
      </form>
    </md-card-content>
  </md-card>
  <span flex hide-xs></span>
</div>
<div layout="row" layout-align="center center" layout-margin>
  <h1 class="md-headline">Other ways to get in touch with us</h1>
</div>
<div layout="row" layout-align="center center" layout-wrap>
  <div flex="20" flex-sm="40" flex-xs="100"
  class="md-whiteframe-1dp contact-box md-primary" layout="column" layout-align="center center"
  layout-padding layout-margin>
    <h1 class="md-display-3">
      <md-icon md-svg-icon="communication:ic_call_24px"></md-icon>
    </h1>
    <md-button href="tel:+642108297077">021 082 97077</md-button>
  </div>
  <div flex="20" flex-sm="40" flex-xs="100"
  class="md-whiteframe-1dp contact-box md-primary" layout="column" layout-align="center center"
  layout-padding layout-margin>
    <h1 class="md-display-3">
      <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
    </h1>
    <md-button href="mailto:info@waihekecoop.nz">info@waihekecoop.nz</md-button>
  </div>
  <div flex="20" flex-sm="40" flex-xs="100"
  class="md-whiteframe-1dp contact-box md-primary" layout="column" layout-align="center center"
  layout-padding layout-margin>
    <h1 class="md-display-3">
      <md-icon md-svg-icon="maps:ic_place_24px"></md-icon>
    </h1>
    <md-button>28a Seaview Road, Waiheke</md-button>
  </div>
  <!-- <div flex="20" flex-sm="40" flex-xs="100"
  class="md-whiteframe-1dp contact-box md-primary" layout="column" layout-align="center center"
  layout-padding layout-margin>
    <h1 class="md-display-3">
      <md-icon md-svg-src="/f_icon.svg"></md-icon>
    </h1>
    <md-button href="https://facebook.com/nzfoodcoop">Facebook Page</md-button>
  </div> -->
</div>
