<div layout>
  <span flex></span>
<md-content flex-xs="90" flex-gt-xs="60">
  <h1 class="text-center md-headline">Top up your Co-op Account</h1>
  <article>
    <h3 class="md-title">Don't use a credit card?</h3>
    <p>You can still shop online with us even without a credit card or paypal account. In the near future we will accept bank transfer directly from our checkout. Until then, here are some way to put credit on your account.</p>
    
    <h4 class="md-title">Pay Cash on Tuesday</h4>
    <p>Come by to our shop at 50 John Street on a Tuesday and browse a limited selection of our products. You can pay for your purchases with cash and pay extra to have added to your account.</p>
    
    <h4 class="md-title">Pay online with internet banking</h4>
    <p>Send us some money by internet banking. Use your customer number as a reference please. For faster clearance, email or text us with the amount you've sent and we'll charge your account faster (even before the transfer has arrived on occassion).
      <md-list><md-list-item class="md-whiteframe-3dp">
        <p>02-1248-0425752-001 Reference: {{currentUser.profile.customerNumber || "Your Reference Here"}}</p>
      </md-list-item></md-list>
    </p>
    
    <h4 class="md-title">Sell goods online</h4>
    <p>Selling goods on our website initially earns you credit. This credit will be zeroed when we pay you by internet banking but you can spend any balance you earn before we zero it or ask us to deplay paying you for a set period.</p>
    
    <h4 class="md-title">Contact Us with any other Questions you have</h4>
    <md-button ui-sref="contact" class="md-raised md-primary">Contact Us</md-button>
  </article>
</md-content>

  <span flex></span>
</div>
  
