.event-img-container {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );
    margin: 0;
    padding: 1em 0 0.5em;
    color: white;
    color: rgba(255,255,255,0.9);
  }
  img {
    max-width: 100%;
  }
}

.event-details .dark-theme.social-menu {
  color: rgba(255,255,255,0.7);
}

.md-darkTheme-theme.md-open-menu-container {
  color: rgba(255,255,255,0.7);
}

md-input-container.md-darkTheme-theme label, md-input-container.md-darkTheme-theme ._md-placeholder {
  color: rgba(255,255,255,0.5);
  text-shadow: none;
}

.event-details {
  height: calc(100vh - 72px);
  
  .sidebar {
    height: 100%;
    
    .repeated-item {
      color: rgba(0,0,0,0.87);
    }
  }
  
}



.event-details .angular-google-map-container, .event-details .angular-google-map {
  height: 100%;
}
