.content-box {
  padding: 15px;
  
  p {
    @extend .md-body-1 !optional;
  }
}

.contact-box.md-primary {
  background-color: #8BC34A;
  color: white;
}

.contact-box:hover {
  @extend .md-whiteframe-4dp !optional;
};

.contact-box md-icon {
  height: 3em;
  width: 3em;
}

