.material-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;

}

tr.cancelled, md-menu-item.cancelled > button {
  color: #FF4081;
}

tr.refunded, md-menu-item.refunded > button {
  color: #F44336;
}

tr.collected, md-menu-item.collected > button, md-menu-item.freezer > button {
  color: #3F51B5;
}

span.sorted, tr.sorted, md-menu-item.sorted > button, md-menu-item.box > button {
  color: #b07192;
}

tr.delivered, md-menu-item.delivered > button, md-menu-item.fridge > button {
  color: #8BC34A;
}

tr.undelivered, md-menu-item.undelivered > button {
  color: #000;
}

md-menu-item.currentStatus > button {
  font-weight: 700;
}
