$green: rgb(139,195,74);

body {
  font-size: 14px;
}

body, p {
  font-family: sans-serif;
  color: #333;
  text-align: center;
}

.body {
  max-width: 600px;
}

.banner-img {max-width: 100%;}

.table {
  tr td {
    padding: 0.5em;
  }
  a {
    color: $green;
    text-decoration: none;
  }
}

.shop-now-btn {
  border-radius: 3px;
  box-sizing: border-box;
  color: $green;
  border: $green 2px solid;
  margin: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  background: 0 0;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.shop-now-btn:hover {
  background-color: rgba(158,158,158,0.2);
}