<div class="request-body-wrapper offer md-whiteframe-1dp" layout layout-align="start start" ng-class="{
  active: $ctrl.active,
  withdrawn: $ctrl.offer.status === 'withdrawn',
  'accepted': $ctrl.offer.status === 'accepted',
  'aggregated' : $ctrl.offer.status === 'aggregate' }">
  <div>
    <md-icon ng-if="$ctrl.offer.status === 'withdrawn'" md-svg-icon="content:ic_block_24px"></md-icon>
    <md-icon ng-if="$ctrl.offer.status === 'accepted'" md-svg-icon="action:ic_done_24px"></md-icon>
    <md-icon ng-if="$ctrl.offer.status === 'aggregate'" md-svg-icon="action:ic_done_all_24px"></md-icon>
  </div>
  <multi-avatar user="$ctrl.offer.user" ng-click="$ctrl.active = !$ctrl.active"
   ng-class="{'indent-avatar':$ctrl.indentAvatar && $ctrl.offer.status !== 'aggregate' && $ctrl.offer.status !== 'withdrawn' && $ctrl.offer.status !== 'accepted'}"></multi-avatar>
  <div flex="no-shrink">
    <div layout>
      <span class="md-caption"><strong>{{$ctrl.offer.name}}</strong> <span ng-if="$ctrl.offer.companyName"> of {{$ctrl.offer.companyName}}</span></span>
      <span flex></span>
      <span class="md-caption offer-bid"><strong>{{$ctrl.offer.bid | currency}}</strong>&nbsp;&nbsp;</span>
      <span class="md-caption created-text summary">{{$ctrl.offer.dateCreated | calendarTime}}</span>
      <md-button class="md-icon-button created-text" ng-click="$ctrl.active = !$ctrl.active">
        <md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
      </md-button>
    </div>
    <div class="md-body" ng-class="{summary: !$ctrl.active}">
      {{$ctrl.offer.description}}
    </div>
    <div ng-if="$ctrl.active">
      <span ng-if="$ctrl.offer.status === 'withdrawn'"><strong>This offer has been withdrawn sorry.</strong></span>
      <h2 class="md-title">Bid: {{$ctrl.offer.bid | currency}}
        <span ng-if="$ctrl.offer.quantity">for {{$ctrl.offer.quantity}} <span ng-if="$ctrl.request.quantity">({{ $ctrl.percentage($ctrl.offer.quantity, $ctrl.request.quantity) }}%)</span></span>
      </h2>
      <!-- <q-and-a ng-if="$ctrl.offer.status !== 'withdrawn'" item="$ctrl.offer" questioner="$ctrl.request.creator.creatorId"></q-and-a> -->
      <div layout>
        <md-button ng-class="{'md-primary': $ctrl.offer.status !== 'withdrawn'}" ng-click="$ctrl.accept($event, $ctrl.offer)" ng-disabled="$ctrl.offer.status === 'withdrawn'" ng-if="currentUser._id === $ctrl.request.creator.creatorId">Accept Offer</md-button>
        <md-button ng-if="$ctrl.offer.status === 'aggregate' && currentUser._id === $ctrl.request.creator.creatorId" ng-click="$ctrl.unaccept($event, $ctrl.offer)">Unaccept Offer</md-button>
      </div>

      <div layout ng-if="$ctrl.offer.status !== 'withdrawn' && $ctrl.offer.user === currentUser._id">
        <md-button class="md-primary" ng-click="$ctrl.withdraw($ctrl.offer); $ctrl.active = false">Withdraw Your Offer</md-button>
      </div>
    </div>
  </div>
</div>
