<md-button ng-if="deliveryForm.deliveryDays.length === 0" class="md-accent md-raised" disabled>Delivery Paid</md-button>
<md-button ng-if="deliveryForm.deliveryDays.length" ng-click="deliveryForm.getDelivery($event)" class="md-primary md-raised">Get Delivery!</md-button>

<div style="visibility: hidden">
  <div class="md-dialog-container" id="deliveryForm">
    <md-dialog style="width: 90%">
      <form id="delivery" ng-submit="deliveryForm.submit(delivery.$valid)" name="delivery">
        <md-dialog-content layout="column" class="md-dialog-content">
          <md-list ng-if="deliveryForm.deliveries.length" class="md-dense">
            <md-subheader class="md-no-sticky">Your purchased deliveries</md-subheader>
            <md-list-item ng-repeat="d in deliveryForm.deliveries" class="md-2-line">
              <div class="md-list-item-text">
                <h3>{{d.deliveryDay | date:'MMMM d'}}</h3>
                <p>{{d.method}} -- {{d.cost | currency}}</p>
              </div>
            </md-list-item>
          </md-list>

          <h3>Purchase {{deliveryForm.deliveryDays.length}}
            <span ng-if="deliveryForm.deliveryDays.length !== 1">deliveries</span>
            <span ng-if="deliveryForm.deliveryDays.length == 1">delivery</span></h3>
          <md-select required ng-model="deliveryForm.selection" placeholder="Choose a delivery method">
            <md-option ng-repeat="opt in deliveryForm.deliveryOptions" ng-value="opt">
              <span class="md-body-1">{{opt.title}} -- {{opt.cost | currency}}<br>{{opt.description}}</span>
            </md-option>
          </md-select>
          <md-input-container>
            <label>Delivery Address</label>
            <input required g-places-autocomplete ng-model="deliveryForm.deliveryAddress">
            <small ng-if="deliveryForm.deliveryAddress.place_id">
              <md-icon md-svg-icon="action:ic_done_24px"></md-icon>Found that Address
            </small>
            <small ng-if="!deliveryForm.deliveryAddress.place_id">Type your address and choose a location from the suggestions provided.</small>
          </md-input-container>
        </md-dialog-content>
        <md-dialog-actions class="text-center" layout layout-align="end">
          <div><span class="md-body-2" ng-if="deliveryForm.selection">Total: {{deliveryForm.selection.cost * deliveryForm.deliveryDays.length | currency}}</span>
          <br><md-button class="md-primary md-raised" type="submit" ng-disabled="!deliveryForm.selection">Add Delivery</md-button></div>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </div>
</div>
