<md-content layout="column">
<md-tabs class="md-primary" md-selected="store.selectedCategory">
  <md-tab label="All" md-on-select="store.query.category = undefined; store.limit=24;"></md-tab>
  <md-tab ng-repeat="c in store.categories" label="{{c.name}}" md-on-select="store.query.category=c.name; store.limit=24;"></md-tab>
</md-tabs>
<md-toolbar class="md-menu-toolbar">
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          md-no-cache="false"
          md-selected-item="store.search"
          md-search-text-change="store.searchTextChange(searchText)"
          md-search-text="store.searchText"
          md-selected-item-change="store.selectedItemChange(item)"
          md-items="item in store.querySearch(store.searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Search">
        <md-item-template>
          <span md-highlight-text="store.searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          No products called "{{searchText}}" were found.
          <!-- <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a> -->
        </md-not-found>
      </md-autocomplete>
    </form>
    <div layout="row" layout-align="center center" ng-if="store.producer">
      <md-button class="md-icon-button" ui-sref="store({producer: undefined})">
        <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
      </md-button>
      <h1 class="md-headline">
        {{store.producer.profile.companyName || store.producer.profile.name}}
      </h1>
    </div>
		<div layout="row">
    <md-menu-bar>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Sort
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="store.options.sort = {'name':1}">
              Alphabetical
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="store.options.sort = {'price': 1} ">
              Price lowest-highest
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="store.options.sort = {'price': -1}">
              Price highest-lowest
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
    <!-- <md-switch class="md-accent md-hue-3" ng-model="store.favourites" aria-label="Switch Favourites" ng-if="$auth.currentUser">
      <span class="md-body-1">Show Only Favourites</span>
    </md-switch> -->
		<md-button class="md-icon-button" ng-class="{'md-warn': store.query.favourites}" ng-click="store.query.favourites = !store.query.favourites" aria-label="Favorite">
			<md-icon md-svg-icon="action:ic_favorite_24px"></md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-class="{'md-primary': store.query.lastOrder}" ng-click="store.query.lastOrder = !store.query.lastOrder" aria-label="Favorite">
			<md-icon md-svg-icon="action:ic_schedule_24px"></md-icon>
		</md-button>
    <!-- <md-switch class="md-accent md-hue-3" ng-model="store.lastOrder" aria-label="Switch Last Order" ng-if="$auth.currentUser">
      <span class="md-body-1">Show My Last Order</span>
    </md-switch> -->
		</div>
  </div>

</md-toolbar>

<!-- <div layout="row" layout-align="center center">
  <md-card flex="60" flex-xs="90">
    <md-card-content>
      <h2 class="md-title text-center">Thanks for stopping by</h2>
      <p>We're still stocking the co-op's store. <a ui-sref="register">Sign up</a> and we'll let you know when it's ready for you to shop.</p>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </md-card-content>
  </md-card>
</div> -->

<product-cards query="store.query" options="store.options"></product-cards>
</md-content>
