<div layout>
  <span flex></span>
  <div flex="40" flex-xs="90" flex-sm="60" layout="column">
    <md-button aria-label="New Event" class="md-fab md-raised md-mini md-accent" ng-if="$root.currentUser && $root.hasRole(currentUser, 'admin')" ui-sref="createEvent">
      <md-tooltip md-direction="left" md-delay="250">
        New Event
      </md-tooltip>
      <md-icon md-svg-icon="action:ic_event_24px" aria-label="payment"></md-icon>
    </md-button>
    <div ng-repeat="event in $ctrl.events">
      <md-card>
        <a ui-sref="event({eventId: event._id})">
          <cl-image public-id="{{event.img.result}}" class="md-card-image" ng-class="{'greyscale': event.ticketsRemaining != null && event.ticketsRemaining <= 0}">
            <cl-transformation height="480" width="640" crop="fill" gravity="center"></cl-transformation>
          </cl-image>
        </a>
        <md-card-content >
        <h3 class="md-headline">{{event.title}}</h3>
        <h3 class="md-title">{{event.ticketPrice|currency}} per person</h3>
        <p class="md-body-2"><span>{{event.ticketsRemaining}} remaining</span></p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="space-around center">
          <div>
            <fc-social-menu url="/event/{{event._id}}" text="{{event.title}} at {{event.date | date:'short'}} at {{event.venue.formatted_address}}"></fc-social-menu>
            <like-heart-button target-id="event._id" category="event"></like-heart-button>
          </div>
          <md-button ui-sref="event({eventId: event._id, buy:1})" class="md-primary">Buy Tickets</md-button>
          <md-button ui-sref="event({eventId: event._id})" class="md-primary md-raised">Learn More</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <span flex></span>
</div>
