.request-list {
  margin: 50px 0;

}

.request-title {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  margin-right: 75px;
}

.request-list-heading {
  overflow: hidden;
  margin: 1px 50px;
  transition: all ease 600ms;
  background: white;

  multi-avatar {
    margin-right: 20px;
  }

  &.active {
    margin: 50px 0 0 0;
  }

  p {
    margin-left: 10px;
    white-space: nowrap;
  }

}

.md-tertiary {
  position: absolute;
      top: 50%;
      right: 56px;
      margin: 0 0 0 16px;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
}
