<md-content class="q-and-a-section">
  <h1 class="md-title">Q &amp; A
    <md-button class="md-icon-button" ng-click="$ctrl.show = !$ctrl.show"><md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon></md-button>
  </h1>
  <md-divider></md-divider>
  <div ng-repeat="q in $ctrl.questions track by q._id" ng-if="$ctrl.show">
    <q-and-a-item item="q" on-update="$ctrl.update(item, modifier)"></q-and-a-item>
    <md-divider></md-divider>
  </div>
  <question on-submit="$ctrl.insert(question)" ng-if="$ctrl.show && $ctrl.restrictedQuestioner()"></question>
</md-content>