<md-content layout>
  <multi-avatar user="$ctrl.request.creator.creatorId"></multi-avatar>
  <div flex>
    <div layout>
      <span class="md-headline" flex="80">{{$ctrl.request.title}}</span>
      <span flex></span>
      <div ng-if="$ctrl.request.deadline" class="expiry-text">
        <span class="md-body">expires {{$ctrl.request.deadline | fromNow}}</span>
      </div>
      <div ng-if="!$ctrl.request.deadline" class="created-text">
        <span class="md-body">posted {{$ctrl.request.dateCreated | fromNow}}</span>
      </div>
    </div>
    <md-content layout layout-margin>
      <div flex="50" flex-gt-sm="25">
        <h3 class="md-title">{{$ctrl.priceCategory[$ctrl.request.price].icon}}
         {{$ctrl.priceCategory[$ctrl.request.price].title}}
        </h3>
        <p class="md-body-1">{{$ctrl.priceCategory[$ctrl.request.price].blurb}}</p>
      </div>
      <div ng-if="$ctrl.request.fixedPrice" flex="50" flex-gt-sm="25">
        <h3 class="md-title">
          Fixed Price: {{$ctrl.request.fixedPrice | currency}}
        </h3>
        <p class="md-body-1">The client is offering a fixed price on this request.</p>
      </div>
      <div ng-if="$ctrl.request.quantity" flex="50" flex-gt-sm="25">
        <h3 class="md-title">
          Quantity: {{$ctrl.request.quantity}}  {{$ctrl.request.unitOfMeasure}}
        </h3>
        <p class="md-body-1">The client is asking for a specific amount. Offers may be made for some or all of the amount.</p>
        <aggregate-percentage ng-if="$ctrl.request.status === 'partial'"
        request="$ctrl.request" on-update="$ctrl.onUpdate(request, modifier)"></aggregate-percentage>
      </div>
      <div ng-if="!$ctrl.request.quantity" flex="50" flex-gt-sm="25">
        <h3 class="md-title">
          No Quantity specified
        </h3>
        <p class="md-body-1">Offers may be made for any amount.</p>
      </div>
      <div ng-if="$ctrl.request.shipping" flex="50" flex-gt-sm="25">
        <h3 class="md-title">
          Shipping Instructions
        </h3>
        <p class="md-body-1">{{$ctrl.request.shipping}}</p>
      </div>
    </md-content>
    <div class="request-description md-body-1">
      <p>{{$ctrl.request.description}}</p>
    </div>
    <aggregate-checkout request="$ctrl.request" on-update="$ctrl.onUpdate(request, modifier)"
    ng-if="$ctrl.request.status === 'partial' && $ctrl.request.creator._id === $auth.currentUser._id">
    </aggregate-checkout>
    <q-and-a item="$ctrl.request"></q-and-a>
  </div>
</md-content>