
<md-content layout-padding>
<md-list class="request-list">

  <md-list-item layout="row">
    <md-input-container flex>
      <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
      <input type="text" placeholder="search" ng-model="$ctrl.filter">
    </md-input-container>
    
    <md-input-container flex>
      <md-select style="margin-bottom:24px" placeholder="sort by" aria-label="Sort Ascending or Descending" ng-model="$ctrl.sort">
        <md-option ng-value="['deadline','dateCreated', true] ">Newest</md-option>
        <md-option ng-value="['deadline','dateCreated', false]">Oldest</md-option>
        <md-option ng-value="['request.creator.companyName', 'request.creator.name', true]">Alphabetical</md-option>
      </md-select>
    </md-input-container>
    <span class="md-tertiary"></span>
		<md-button class="md-icon-button" ng-class="{'md-warn': $ctrl.query.favourites}" ng-click="$ctrl.query.favourites = !$ctrl.query.favourites" aria-label="Favorite">
			<md-icon md-svg-icon="action:ic_favorite_24px"></md-icon>
		</md-button>
  </md-list-item>

  <md-list-item 
  ng-repeat-start="request in $ctrl.requests | filter: $ctrl.filter track by request._id" 
  ng-click="request.active = !request.active" 
  class="request-list-heading md-whiteframe-1dp" 
  ng-class="{'active': request.active}"
  layout>
    <multi-avatar user="request.creator.creatorId" width="40"></multi-avatar>
      <p layout>
        <span flex="20" flex-sm="33" hide-xs flex-md="30" ng-class="{'md-title': request.active}">{{request.creator.companyName || request.creator.name}}</span>
        <span ng-if="!request.active" class="request-title" flex>{{request.title}}</span>
      </p>
  <!-- <md-icon class="md-secondary" aria-label="price offer">{{$ctrl.priceCategory[request.price].icon}}</md-icon> -->
  <span class="md-tertiary">{{$ctrl.priceCategory[request.price].icon}}</span>
  <like-heart ng-click="null" class="md-secondary" target-id="request._id" category="request" like-text="Watching this request now." unlike-text="you are no longer watching this request"></like-heart>
  <!-- <md-icon class="md-secondary" ng-click="$ctrl.watch(request._id)" md-svg-icon="action:ic_favorite_24px" aria-label="watch this request" ng-class="{'md-warn': $ctrl.watching()}"></md-icon> -->
  </md-list-item>
  <section ng-repeat-end class="requestBody md-whiteframe-1dp" ng-if="request.active">
    <div class="request-body-wrapper">
      <request-details request="request" on-update="$ctrl.update(request, modifier)" price-category="$ctrl.priceCategory"></request-details>
    </div>
    <offers request="request" request-update="$ctrl.update(request, modifier)"></offers>
    <md-list-item ui-sref="login" class="request-footer secondary-button-padding md-whiteframe-1dp" ng-if="request.active && !currentUser">
      Please Login to make an offer
    </md-list-item>
    <new-offer request="request" class="request-footer" ng-if="request.active && currentUser"></new-offer>
  </section>
  

</md-list>
</md-content>

<md-button class="md-warn md-fab md-fab-bottom-right md-whiteframe-6dp" ui-sref="productCreate">
	<md-icon md-svg-src="content:ic_add_24px"></md-icon>
</md-button>